openapi: 3.2.0
info:
  description: This is Genius Sports Services Fixture API.
  version: 2.0.280
  title: Fixtures-v2 Competitors/horses API
  contact:
    email: sbonboarding@geniussports.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://fixtures.api.geniussports.com/v2
tags:
- name: competitors/horses
  description: Groups the operations related to competitors of type Horse
paths:
  /competitors/horses:
    get:
      tags:
      - competitors/horses
      summary: Retrieve competitors (horses) by ID/s. MAX 200 per page
      description: Returns competitors (horses) wrapped inside a HATEOAS model
      parameters:
      - name: page
        in: query
        description: The number of page to be returned. The default value is 1.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: The size of the page to be returned. The default value is 10.
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'The field to ''order by'' by. Descending ordering also allowed. Fields to order by for this endpoint: (id, name, sportId, genderType, localityId, venueId, competitorStatusType)'
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'The field to ''filter'' by. Check main description for filter comparators. Fields to filter by for this endpoint: (id, name, sportId, genderType, localityId, venueId, competitorStatusType)'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorseCompetitorResponseModelHATEOASReponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getCompetitorsHorses
      x-operation-id-source: derived
  /competitors/horses/{id}:
    get:
      tags:
      - competitors/horses
      summary: Retrieve competitors (horses) details by ID
      description: Returns competitors (horses) details including sport specific details (metadata properties)
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Single competitors (horses) ID to return details for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HorseCompetitorResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getCompetitorsHorsesById
      x-operation-id-source: derived
components:
  schemas:
    ExternalIdsViewModel:
      type: object
      properties:
        optaId:
          type: string
        optaLegacyId:
          type: string
        fibaId:
          type: string
        vesselId:
          type: string
        statsEngineId:
          type: string
      description: External system identifiers. Key represents the external system name (e.g., 'optaId', 'optaLegacyId', 'fibaId', 'vesselId','statsEngineId'), value represents the identifier. The property also allows filtering by specific external system identifiers. For example '?filter=externalIds.optaId[equals]:12345' to filter entities with a specific Opta ID.
    HorseCompetitorResponseModel:
      type: object
      required:
      - competitorStatusType
      - createdOn
      - genderType
      - id
      - name
      - sport
      - updatesCount
      properties:
        id:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        updatesCount:
          type: integer
          format: int32
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/competitor/metadata
          items:
            $ref: '#/components/schemas/JsonbModel'
        name:
          type: string
        sport:
          $ref: '#/components/schemas/HALEmbededResponse'
        genderType:
          type: string
          description: Undefined, Male, Female, Mixed.
        locality:
          $ref: '#/components/schemas/HALEmbededResponse'
        competitorStatusType:
          type: string
          description: Active, Retired, Unattached
    ErrorModel:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
    JsonbModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        isDeleted:
          type: boolean
    BadRequestModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    Error:
      type: object
      required:
      - domain
      - message
      - reason
      properties:
        reason:
          type: string
        domain:
          type: string
        locationType:
          type: string
        location:
          type: string
        message:
          type: string
    AcceptedModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    HALEmbededResponse:
      type: object
      required:
      - id
      - name
      - ref
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        ref:
          type: string
    HorseCompetitorResponseModelHATEOASReponseModel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/HorseCompetitorResponseModel'
        self:
          type: string
        previous:
          type: string
        next:
          type: string
        first:
          type: string
        last:
          type: string
  securitySchemes:
    Auth0:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: oauth2
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-amazon-apigateway-security-policy: TLS_1_0
