openapi: 3.2.0
info:
  description: This is Genius Sports Services Fixture API.
  version: 2.0.280
  title: Fixtures-v2 Competitions API
  contact:
    email: sbonboarding@geniussports.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://fixtures.api.geniussports.com/v2
tags:
- name: Competitions
paths:
  /competitions:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Competitions
      summary: Describe competitions
      x-summary-source: derived
      operationId: optionsCompetitions
      x-operation-id-source: derived
    get:
      tags:
      - Competitions
      summary: Retrieve competition by ID/s. MAX 200 per page
      description: Returns competitions wrapped inside a HATEOAS model
      parameters:
      - name: page
        in: query
        description: The number of page to be returned. The default value is 1.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: The size of the page to be returned. The default value is 10.
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'The field to ''order by'' by. Descending ordering also allowed. Fields to order by for this endpoint: (id, name, sportId, genderType, localityId)'
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'The field to ''filter'' by. Check main description for filter comparators. Fields to filter by for this endpoint: (id, name, sportId, genderType, localityId)'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionResponseModelHATEOASReponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getCompetitions
      x-operation-id-source: derived
    post:
      tags:
      - Competitions
      summary: Create new competition
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionResponseModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompetition'
        required: true
      operationId: postCompetitions
      x-operation-id-source: derived
    put:
      tags:
      - Competitions
      summary: Update existing competition
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompetition'
        required: true
      operationId: putCompetitions
      x-operation-id-source: derived
    patch:
      tags:
      - Competitions
      summary: Patch existing competition
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCompetition'
        required: true
      operationId: patchCompetitions
      x-operation-id-source: derived
  /competitions/{id}:
    options:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Competitions
      summary: Describe competitions by id
      x-summary-source: derived
      operationId: optionsCompetitionsById
      x-operation-id-source: derived
    get:
      tags:
      - Competitions
      summary: Retrieve competition details by ID
      description: Returns competition details including sport specific details (metadata properties)
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Single competition ID to return details for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompetitionResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getCompetitionsById
      x-operation-id-source: derived
    delete:
      tags:
      - Competitions
      summary: Delete existing competition
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: deleteCompetitionsById
      x-operation-id-source: derived
components:
  schemas:
    Empty:
      type: object
    ExternalIdsViewModel:
      type: object
      properties:
        optaId:
          type: string
        optaLegacyId:
          type: string
        fibaId:
          type: string
        vesselId:
          type: string
        statsEngineId:
          type: string
      description: External system identifiers. Key represents the external system name (e.g., 'optaId', 'optaLegacyId', 'fibaId', 'vesselId','statsEngineId'), value represents the identifier. The property also allows filtering by specific external system identifiers. For example '?filter=externalIds.optaId[equals]:12345' to filter entities with a specific Opta ID.
    GenderType:
      type: integer
      title: Gender Type
      format: int32
      description: 'This property defines the possible gender types which can be set as integer values. Each integer value is associated with relevant gender type as follows: 0 - Undefined; 1 - Male; 2 - Female; 3 - Mixed.'
      enum:
      - '0'
      - '1'
      - '2'
      - '3'
    UpdateCompetition:
      type: object
      required:
      - id
      - localityId
      - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          description: The name of the competition. It must be unique for the given sport context!
          title: Competition name
          maxLength: 250
        organizationId:
          type: integer
          format: int64
          description: Id of the organization to which the competition will be associated. This id will update the permissions which will be needed in order to update/delete the competition! Once set this property cannot be updated!
          title: Organization Id
        localityId:
          type: integer
          format: int64
          description: Id of the country,virtual place, etc. where the competition will be held!
          title: Locality Id
        timezone:
          type: string
          description: 'The timezone which will be set as default timezone for the competition''s fixtures if timezone is not specified. Possible timezones (splited by '',''): Africa/Abidjan,Africa/Accra,Africa/Addis_Ababa,Africa/Algiers,Africa/Bamako,Africa/Bangui,Africa/Banjul,Africa/Bissau,Africa/Blantyre,Africa/Brazzaville,Africa/Bujumbura,Africa/Cairo,Africa/Casablanca,Africa/Ceuta,Africa/Conakry,Africa/Dakar,Africa/Dar_es_Salaam,Africa/Djibouti,Africa/Douala,Africa/Freetown,Africa/Gaborone,Africa/Harare,Africa/Johannesburg,Africa/Juba,Africa/Kampala,Africa/Khartoum,Africa/Kigali,Africa/Kinshasa,Africa/Lagos,Africa/Libreville,Africa/Lome,Africa/Luanda,Africa/Lubumbashi,Africa/Lusaka,Africa/Malabo,Africa/Maputo,Africa/Maseru,Africa/Mbabane,Africa/Mogadishu,Africa/Monrovia,Africa/Nairobi,Africa/Ndjamena,Africa/Niamey,Africa/Nouakchott,Africa/Ouagadougou,Africa/Porto-Novo,Africa/Sao_Tome,Africa/Tripoli,Africa/Tunis,Africa/Windhoek,America/Adak,America/Anguilla,America/Antigua,America/Argentina/Buenos_Aires,America/Argentina/Catamarca,America/Argentina/Cordoba,America/Argentina/Jujuy,America/Argentina/Mendoza,America/Argentina/Rio_Gallegos,America/Argentina/Salta,America/Argentina/San_Juan,America/Argentina/San_Luis,America/Argentina/Tucuman,America/Aruba,America/Asuncion,America/Bahia,America/Barbados,America/Belem,America/Belize,America/Bogota,America/Boise,America/Buenos_Aires,America/Campo_Grande,America/Cancun,America/Caracas,America/Chicago,America/Chihuahua,America/Costa_Rica,America/Cuiaba,America/Curacao,America/Denver,America/Detroit,America/Dominica,America/Edmonton,America/El_Salvador,America/Fortaleza,America/Grenada,America/Guadeloupe,America/Guatemala,America/Guayaquil,America/Guyana,America/Halifax,America/Havana,America/Hermosillo,America/Indiana/Indianapolis,America/Indiana/Petersburg,America/Indiana/Vevay,America/Indiana/Vincennes,America/Indianapolis,America/Jamaica,America/Kentucky/Louisville,America/Kentucky/Monticello,America/La_Paz,America/Lima,America/Los_Angeles,America/Louisville,America/Managua,America/Manaus,America/Mazatlan,America/Mendoza,America/Menominee,America/Merida,America/Mexico_City,America/Moncton,America/Monterrey,America/Montevideo,America/Montreal,America/Nassau,America/New_York,America/Panama,America/Paramaribo,America/Phoenix,America/Port-au-Prince,America/Porto_Velho,America/Port_of_Spain,America/Puerto_Rico,America/Recife,America/Rio_Branco,America/Rosario,America/Santiago,America/Santo_Domingo,America/Sao_Paulo,America/Scoresbysund,America/St_Johns,America/St_Kitts,America/St_Lucia,America/St_Thomas,America/Tegucigalpa,America/Tijuana,America/Toronto,America/Vancouver,America/Whitehorse,Asia/Aden,Asia/Almaty,Asia/Amman,Asia/Aqtobe,Asia/Ashgabat,Asia/Ashkhabad,Asia/Baghdad,Asia/Bahrain,Asia/Baku,Asia/Bangkok,Asia/Beirut,Asia/Bishkek,Asia/Brunei,Asia/Calcutta,Asia/Chita,Asia/Chongqing,Asia/Chungking,Asia/Colombo,Asia/Dacca,Asia/Damascus,Asia/Dhaka,Asia/Dubai,Asia/Dushanbe,Asia/Gaza,Asia/Harbin,Asia/Hong_Kong,Asia/Hovd,Asia/Ho_Chi_Minh,Asia/Irkutsk,Asia/Istanbul,Asia/Jakarta,Asia/Jayapura,Asia/Jerusalem,Asia/Kabul,Asia/Karachi,Asia/Kathmandu,Asia/Katmandu,Asia/Kolkata,Asia/Krasnoyarsk,Asia/Kuala_Lumpur,Asia/Kuching,Asia/Kuwait,Asia/Macao,Asia/Macau,Asia/Makassar,Asia/Manila,Asia/Muscat,Asia/Nicosia,Asia/Novokuznetsk,Asia/Novosibirsk,Asia/Omsk,Asia/Oral,Asia/Phnom_Penh,Asia/Pyongyang,Asia/Qatar,Asia/Rangoon,Asia/Riyadh,Asia/Saigon,Asia/Sakhalin,Asia/Samarkand,Asia/Seoul,Asia/Shanghai,Asia/Singapore,Asia/Taipei,Asia/Tashkent,Asia/Tbilisi,Asia/Tehran,Asia/Tel_Aviv,Asia/Thimphu,Asia/Tokyo,Asia/Ulaanbaatar,Asia/Vientiane,Asia/Vladivostok,Asia/Yakutsk,Asia/Yekaterinburg,Asia/Yerevan,Atlantic/Azores,Atlantic/Bermuda,Atlantic/Canary,Atlantic/Cape_Verde,Atlantic/Faeroe,Atlantic/Faroe,Atlantic/Madeira,Atlantic/Reykjavik,Australia/ACT,Australia/Adelaide,Australia/Brisbane,Australia/Canberra,Australia/Currie,Australia/Darwin,Australia/Hobart,Australia/Melbourne,Australia/North,Australia/NSW,Australia/Perth,Australia/Queensland,Australia/South,Australia/Sydney,Australia/Tasmania,Australia/Victoria,Australia/West,Brazil/Acre,Brazil/DeNoronha,Brazil/East,Brazil/West,Canada/Atlantic,Canada/Central,Canada/Eastern,Canada/Mountain,Canada/Newfoundland,Canada/Pacific,CET,Chile/Continental,CST6CDT,Cuba,EET,Egypt,EST,Etc/GMT,Etc/GMT+1,Etc/GMT+12,Etc/GMT+2,Etc/GMT+3,Etc/GMT+4,Etc/GMT+5,Etc/GMT+6,Etc/GMT+7,Etc/GMT+8,Etc/GMT+9,Etc/GMT-0,Etc/GMT-1,Etc/GMT-2,Etc/GMT-3,Etc/GMT-4,Etc/GMT-5,Etc/GMT-7,Etc/GMT-8,Etc/Greenwich,Etc/UTC,Europe/Amsterdam,Europe/Andorra,Europe/Athens,Europe/Belfast,Europe/Belgrade,Europe/Berlin,Europe/Bratislava,Europe/Brussels,Europe/Bucharest,Europe/Budapest,Europe/Chisinau,Europe/Copenhagen,Europe/Dublin,Europe/Gibraltar,Europe/Helsinki,Europe/Isle_of_Man,Europe/Istanbul,Europe/Kaliningrad,Europe/Kiev,Europe/Lisbon,Europe/Ljubljana,Europe/London,Europe/Luxembourg,Europe/Madrid,Europe/Malta,Europe/Minsk,Europe/Monaco,Europe/Moscow,Europe/Nicosia,Europe/Oslo,Europe/Paris,Europe/Podgorica,Europe/Prague,Europe/Riga,Europe/Rome,Europe/Samara,Europe/San_Marino,Europe/Sarajevo,Europe/Skopje,Europe/Sofia,Europe/Stockholm,Europe/Tallinn,Europe/Tirane,Europe/Tiraspol,Europe/Uzhgorod,Europe/Vaduz,Europe/Vatican,Europe/Vienna,Europe/Vilnius,Europe/Volgograd,Europe/Warsaw,Europe/Zagreb,Europe/Zaporozhye,Europe/Zurich,GB,GB-Eire,GMT,GMT0,Hongkong,Iceland,Indian/Cocos,Indian/Kerguelen,Indian/Mahe,Indian/Maldives,Indian/Mauritius,Indian/Reunion,Iran,Israel,Jamaica,Japan,Libya,Mexico/BajaNorte,Mexico/BajaSur,Mexico/General,MST,MST7MDT,NZ,Pacific/Apia,Pacific/Auckland,Pacific/Easter,Pacific/Fiji,Pacific/Guadalcanal,Pacific/Kosrae,Pacific/Noumea,Pacific/Ponape,Pacific/Port_Moresby,Pacific/Tahiti,Poland,Portugal,Singapore,Turkey,UCT,US/Arizona,US/Central,US/East-Indiana,US/Eastern,US/Hawaii,US/Indiana-Starke,US/Michigan,US/Mountain,US/Pacific,US/Pacific-New,UTC,WET'
          title: Competition timezone
        shortName:
          type: string
          description: A short name for the competition
          title: Competition short name
          maxLength: 250
        longName:
          type: string
          description: A long name for the competition
          title: Competition long name
          maxLength: 500
        sponsorName:
          type: string
          description: The sponsor name of the competition
          title: Competition sponsor name
          maxLength: 250
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/competition/metadata
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        youth:
          type: boolean
    tier:
      type: string
      title: Tier
      description: 'Default is null. One of: 1, 2, 3, 4, 5.  Value is based on competition playing level, utilization, marketing and general popularity, but also taking our restrictions into account such as underaged players or amateur level.'
    ErrorModel:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
    JsonbModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        isDeleted:
          type: boolean
    JsonbModelViewModel:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the property.
          title: Property name
        value:
          type: string
          description: Value of the property.
          title: Property value
      title: Create/Update Property Model
      description: This model should be used to create or update single property value for specific property name for specific model.
    BadRequestModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    CreateCompetition:
      type: object
      required:
      - localityId
      - name
      - sportId
      properties:
        sportId:
          type: integer
          format: int64
          description: Id of the sport to which the competition will be associated. This id will restrict the possible metadataProperties and values which can be set to the competition! Also it will restrict the fixtures and seasons associated with this competition to be only for this sport!
          title: Sport Id
        organizationId:
          type: integer
          format: int64
          description: Id of the organization to which the competition will be associated. This id will update the permissions which will be needed in order to update/delete the competition! Once set this property cannot be updated!
          title: Organization Id
        localityId:
          type: integer
          format: int64
          description: Id of the country,virtual place, etc. where the competition will be held!
          title: Locality Id
        genderType:
          $ref: '#/components/schemas/GenderType'
        ageCategory:
          $ref: '#/components/schemas/ageCategory'
        tier:
          $ref: '#/components/schemas/tier'
        name:
          type: string
          description: The name of the competition. It must be unique for the given sport context!
          title: Competition name
          maxLength: 250
        timezone:
          type: string
          description: 'The timezone which will be set as default timezone for the competition''s fixtures if timezone is not specified. Possible timezones (splited by '',''): Africa/Abidjan,Africa/Accra,Africa/Addis_Ababa,Africa/Algiers,Africa/Bamako,Africa/Bangui,Africa/Banjul,Africa/Bissau,Africa/Blantyre,Africa/Brazzaville,Africa/Bujumbura,Africa/Cairo,Africa/Casablanca,Africa/Ceuta,Africa/Conakry,Africa/Dakar,Africa/Dar_es_Salaam,Africa/Djibouti,Africa/Douala,Africa/Freetown,Africa/Gaborone,Africa/Harare,Africa/Johannesburg,Africa/Juba,Africa/Kampala,Africa/Khartoum,Africa/Kigali,Africa/Kinshasa,Africa/Lagos,Africa/Libreville,Africa/Lome,Africa/Luanda,Africa/Lubumbashi,Africa/Lusaka,Africa/Malabo,Africa/Maputo,Africa/Maseru,Africa/Mbabane,Africa/Mogadishu,Africa/Monrovia,Africa/Nairobi,Africa/Ndjamena,Africa/Niamey,Africa/Nouakchott,Africa/Ouagadougou,Africa/Porto-Novo,Africa/Sao_Tome,Africa/Tripoli,Africa/Tunis,Africa/Windhoek,America/Adak,America/Anguilla,America/Antigua,America/Argentina/Buenos_Aires,America/Argentina/Catamarca,America/Argentina/Cordoba,America/Argentina/Jujuy,America/Argentina/Mendoza,America/Argentina/Rio_Gallegos,America/Argentina/Salta,America/Argentina/San_Juan,America/Argentina/San_Luis,America/Argentina/Tucuman,America/Aruba,America/Asuncion,America/Bahia,America/Barbados,America/Belem,America/Belize,America/Bogota,America/Boise,America/Buenos_Aires,America/Campo_Grande,America/Cancun,America/Caracas,America/Chicago,America/Chihuahua,America/Costa_Rica,America/Cuiaba,America/Curacao,America/Denver,America/Detroit,America/Dominica,America/Edmonton,America/El_Salvador,America/Fortaleza,America/Grenada,America/Guadeloupe,America/Guatemala,America/Guayaquil,America/Guyana,America/Halifax,America/Havana,America/Hermosillo,America/Indiana/Indianapolis,America/Indiana/Petersburg,America/Indiana/Vevay,America/Indiana/Vincennes,America/Indianapolis,America/Jamaica,America/Kentucky/Louisville,America/Kentucky/Monticello,America/La_Paz,America/Lima,America/Los_Angeles,America/Louisville,America/Managua,America/Manaus,America/Mazatlan,America/Mendoza,America/Menominee,America/Merida,America/Mexico_City,America/Moncton,America/Monterrey,America/Montevideo,America/Montreal,America/Nassau,America/New_York,America/Panama,America/Paramaribo,America/Phoenix,America/Port-au-Prince,America/Porto_Velho,America/Port_of_Spain,America/Puerto_Rico,America/Recife,America/Rio_Branco,America/Rosario,America/Santiago,America/Santo_Domingo,America/Sao_Paulo,America/Scoresbysund,America/St_Johns,America/St_Kitts,America/St_Lucia,America/St_Thomas,America/Tegucigalpa,America/Tijuana,America/Toronto,America/Vancouver,America/Whitehorse,Asia/Aden,Asia/Almaty,Asia/Amman,Asia/Aqtobe,Asia/Ashgabat,Asia/Ashkhabad,Asia/Baghdad,Asia/Bahrain,Asia/Baku,Asia/Bangkok,Asia/Beirut,Asia/Bishkek,Asia/Brunei,Asia/Calcutta,Asia/Chita,Asia/Chongqing,Asia/Chungking,Asia/Colombo,Asia/Dacca,Asia/Damascus,Asia/Dhaka,Asia/Dubai,Asia/Dushanbe,Asia/Gaza,Asia/Harbin,Asia/Hong_Kong,Asia/Hovd,Asia/Ho_Chi_Minh,Asia/Irkutsk,Asia/Istanbul,Asia/Jakarta,Asia/Jayapura,Asia/Jerusalem,Asia/Kabul,Asia/Karachi,Asia/Kathmandu,Asia/Katmandu,Asia/Kolkata,Asia/Krasnoyarsk,Asia/Kuala_Lumpur,Asia/Kuching,Asia/Kuwait,Asia/Macao,Asia/Macau,Asia/Makassar,Asia/Manila,Asia/Muscat,Asia/Nicosia,Asia/Novokuznetsk,Asia/Novosibirsk,Asia/Omsk,Asia/Oral,Asia/Phnom_Penh,Asia/Pyongyang,Asia/Qatar,Asia/Rangoon,Asia/Riyadh,Asia/Saigon,Asia/Sakhalin,Asia/Samarkand,Asia/Seoul,Asia/Shanghai,Asia/Singapore,Asia/Taipei,Asia/Tashkent,Asia/Tbilisi,Asia/Tehran,Asia/Tel_Aviv,Asia/Thimphu,Asia/Tokyo,Asia/Ulaanbaatar,Asia/Vientiane,Asia/Vladivostok,Asia/Yakutsk,Asia/Yekaterinburg,Asia/Yerevan,Atlantic/Azores,Atlantic/Bermuda,Atlantic/Canary,Atlantic/Cape_Verde,Atlantic/Faeroe,Atlantic/Faroe,Atlantic/Madeira,Atlantic/Reykjavik,Australia/ACT,Australia/Adelaide,Australia/Brisbane,Australia/Canberra,Australia/Currie,Australia/Darwin,Australia/Hobart,Australia/Melbourne,Australia/North,Australia/NSW,Australia/Perth,Australia/Queensland,Australia/South,Australia/Sydney,Australia/Tasmania,Australia/Victoria,Australia/West,Brazil/Acre,Brazil/DeNoronha,Brazil/East,Brazil/West,Canada/Atlantic,Canada/Central,Canada/Eastern,Canada/Mountain,Canada/Newfoundland,Canada/Pacific,CET,Chile/Continental,CST6CDT,Cuba,EET,Egypt,EST,Etc/GMT,Etc/GMT+1,Etc/GMT+12,Etc/GMT+2,Etc/GMT+3,Etc/GMT+4,Etc/GMT+5,Etc/GMT+6,Etc/GMT+7,Etc/GMT+8,Etc/GMT+9,Etc/GMT-0,Etc/GMT-1,Etc/GMT-2,Etc/GMT-3,Etc/GMT-4,Etc/GMT-5,Etc/GMT-7,Etc/GMT-8,Etc/Greenwich,Etc/UTC,Europe/Amsterdam,Europe/Andorra,Europe/Athens,Europe/Belfast,Europe/Belgrade,Europe/Berlin,Europe/Bratislava,Europe/Brussels,Europe/Bucharest,Europe/Budapest,Europe/Chisinau,Europe/Copenhagen,Europe/Dublin,Europe/Gibraltar,Europe/Helsinki,Europe/Isle_of_Man,Europe/Istanbul,Europe/Kaliningrad,Europe/Kiev,Europe/Lisbon,Europe/Ljubljana,Europe/London,Europe/Luxembourg,Europe/Madrid,Europe/Malta,Europe/Minsk,Europe/Monaco,Europe/Moscow,Europe/Nicosia,Europe/Oslo,Europe/Paris,Europe/Podgorica,Europe/Prague,Europe/Riga,Europe/Rome,Europe/Samara,Europe/San_Marino,Europe/Sarajevo,Europe/Skopje,Europe/Sofia,Europe/Stockholm,Europe/Tallinn,Europe/Tirane,Europe/Tiraspol,Europe/Uzhgorod,Europe/Vaduz,Europe/Vatican,Europe/Vienna,Europe/Vilnius,Europe/Volgograd,Europe/Warsaw,Europe/Zagreb,Europe/Zaporozhye,Europe/Zurich,GB,GB-Eire,GMT,GMT0,Hongkong,Iceland,Indian/Cocos,Indian/Kerguelen,Indian/Mahe,Indian/Maldives,Indian/Mauritius,Indian/Reunion,Iran,Israel,Jamaica,Japan,Libya,Mexico/BajaNorte,Mexico/BajaSur,Mexico/General,MST,MST7MDT,NZ,Pacific/Apia,Pacific/Auckland,Pacific/Easter,Pacific/Fiji,Pacific/Guadalcanal,Pacific/Kosrae,Pacific/Noumea,Pacific/Ponape,Pacific/Port_Moresby,Pacific/Tahiti,Poland,Portugal,Singapore,Turkey,UCT,US/Arizona,US/Central,US/East-Indiana,US/Eastern,US/Hawaii,US/Indiana-Starke,US/Michigan,US/Mountain,US/Pacific,US/Pacific-New,UTC,WET'
          title: Competition timezone
        shortName:
          type: string
          description: A short name for the competition
          title: Competition short name
          maxLength: 250
        longName:
          type: string
          description: A long name for the competition
          title: Competition long name
          maxLength: 500
        sponsorName:
          type: string
          description: The sponsor name of the competition
          title: Competition sponsor name
          maxLength: 250
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/competition/metadata
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        youth:
          type: boolean
    CompetitionResponseModel:
      type: object
      required:
      - createdOn
      - genderType
      - id
      - locality
      - name
      - sport
      - timezone
      - updatesCount
      properties:
        id:
          type: integer
          format: int64
          title: Id of the competition
        createdOn:
          type: string
          format: date-time
          title: The date on which the competition was created
        modifiedOn:
          type: string
          format: date-time
          title: The date on which the competition was modified
        updatesCount:
          type: integer
          format: int32
          title: The number of times the competition was modified
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/competition/metadata
          items:
            $ref: '#/components/schemas/JsonbModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        sport:
          $ref: '#/components/schemas/HALEmbededResponse'
        organization:
          $ref: '#/components/schemas/HALEmbededResponse'
        name:
          type: string
        locality:
          $ref: '#/components/schemas/HALEmbededResponse'
        timezone:
          $ref: '#/components/schemas/HALEmbededResponse'
        genderType:
          type: string
          description: Undefined, Male, Female, Mixed.
        ageCategory:
          $ref: '#/components/schemas/ageCategory'
        tier:
          $ref: '#/components/schemas/tier'
        shortName:
          type: string
        longName:
          type: string
        sponsorName:
          type: string
        youth:
          type: boolean
        isProtected:
          type: boolean
          description: Whether the competition is protected or not. If the competition is protected, it means that it is usually a high-level competition.
    ErrorDuplicateModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
        geniusSportsConflictId:
          type: string
          description: This is the official genius sports ID, which you have conflict with.
    AcceptedModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    PatchCompetition:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
          description: The ID of the season.
          title: Id
        name:
          type: string
          description: The name of the competition. It must be unique for the given sport context!
          title: Competition name
          maxLength: 250
        localityId:
          type: integer
          format: int64
          description: Id of the country,virtual place, etc. where the competition will be held!
          title: Locality Id
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/competition/metadata
          title: metadataProperties
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
      title: Patch Competition Model
      description: This model should be used to propose a partial patch to a competition. Keep in mind that updating the name of competition will update future season names as well. Also updating the locality will update future season localities as well. Updating metadata properties will update future fixture and round metadata properties as well, which are considered inheritable.
    HALEmbededResponse:
      type: object
      required:
      - id
      - name
      - ref
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        ref:
          type: string
    ageCategory:
      type: string
      title: Age Category
      description: 'Default is Senior.  One of: U5, U6, U7, U8, U9, U10, U11, U12, U13, U14, U15, U16, U17, U18, U19, U20, U21, U22, U23, Senior'
    CompetitionResponseModelHATEOASReponseModel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/CompetitionResponseModel'
        self:
          type: string
        previous:
          type: string
        next:
          type: string
        first:
          type: string
        last:
          type: string
    Error:
      type: object
      required:
      - domain
      - message
      - reason
      properties:
        reason:
          type: string
        domain:
          type: string
        locationType:
          type: string
        location:
          type: string
        message:
          type: string
  securitySchemes:
    Auth0:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: oauth2
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-amazon-apigateway-security-policy: TLS_1_0
