openapi: 3.2.0
info:
  description: This is Genius Sports Services Fixture API.
  version: 2.0.280
  title: v2 Fixtures API
  contact:
    email: sbonboarding@geniussports.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://fixtures.api.geniussports.com/v2
tags:
- name: Fixtures
paths:
  /fixtures:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Fixtures
      summary: Describe fixtures
      x-summary-source: derived
      operationId: optionsFixtures
      x-operation-id-source: derived
    get:
      tags:
      - Fixtures
      summary: Retrieve fixtures by ID/s. MAX 200 per page
      description: Returns fixtures wrapped inside a HATEOAS model
      parameters:
      - name: pageSize
        in: query
        description: The size of the page to be returned. The default value is 10.
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: deleted
        in: query
        description: 'This field specifies whether to include deleted, not deleted, or both. Possible values: False, True, or All.'
        required: false
        schema:
          type: string
      - name: eventTypes
        in: query
        description: This field specifies the event type to be returned (Match, SeasonOutright, PartialOutright, AggregateEvent). By default, if not provided, 'Match' is returned. Multiple types can be combined in a single request, separated by commas.
        required: false
        schema:
          type: string
      - name: withCompetitors
        in: query
        description: This field specifies whether when set to true to return fixtures without any TBD competitors or false for all fixtures
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: The number of page to be returned. The default value is 1.
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'The field to ''order by'' by. Descending ordering also allowed. Fields to order by for this endpoint: (id, roundId, seasonId, competitionId, sportId, eventStatusType, localityId, timezoneId, venueId, startDate)'
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: 'The field to ''filter'' by. Check main description for filter comparators. Fields to filter by for this endpoint: (id, roundId, seasonId, competitionId, sportId, eventStatusType, localityId, timezoneId, venueId, startDate)'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureResponseModelHATEOASReponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            x-gs-attr-oldnewentityidssmap:
              description: 'oldId=newId separated by semicolon '';'' e.g.: 1=2;3=4;...'
              schema:
                type: string
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getFixtures
      x-operation-id-source: derived
    post:
      tags:
      - Fixtures
      summary: Create new fixture
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '201':
          description: Created
          headers:
            gs-duplicate-entity-replaced:
              description: Returned when a duplicate entity has been replaced. Value is the 'duplicateEntityId' and the 'originalEntityId'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureResponseModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFixture'
        required: true
      operationId: postFixtures
      x-operation-id-source: derived
    put:
      tags:
      - Fixtures
      summary: Update existing fixture
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            gs-duplicate-entity-replaced:
              description: Returned when a duplicate entity has been replaced. Value is the 'duplicateEntityId' and the 'originalEntityId'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFixture'
        required: true
      operationId: putFixtures
      x-operation-id-source: derived
    patch:
      tags:
      - Fixtures
      summary: Patch existing fixture
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            gs-duplicate-entity-replaced:
              description: Returned when a duplicate entity has been replaced. Value is the 'duplicateEntityId' and the 'originalEntityId'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchFixture'
        required: true
      operationId: patchFixtures
      x-operation-id-source: derived
  /fixtures/refdata:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Fixtures
      summary: Describe fixtures refdata
      x-summary-source: derived
      operationId: optionsFixturesRefdata
      x-operation-id-source: derived
    get:
      tags:
      - Fixtures
      summary: Retrieve fixtures refdata by filter. MAX 200 per page
      description: Returns fixtures refdata wrapped inside a HATEOAS model
      parameters:
      - name: page
        in: query
        description: The number of page to be returned. The default value is 1.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: The size of the page to be returned. The default value is 10.
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'The field to ''order by'' by. Descending ordering also allowed. Fields to order by for this endpoint: (id, roundId, seasonId, competitionId, sportId, eventStatusType, localityId, timezoneId, venueId, startDate)'
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'The field to ''filter'' by. Check main description for filter comparators. Fields to filter by for this endpoint: (id, roundId, seasonId, competitionId, sportId, eventStatusType, localityId, timezoneId, venueId, startDate)'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureRefdataResponseModelHATEOASReponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            x-gs-attr-oldnewentityidssmap:
              description: 'oldId=newId separated by semicolon '';'' e.g.: 1=2;3=4;...'
              schema:
                type: string
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getFixturesRefdata
      x-operation-id-source: derived
  /fixtures/{id}:
    options:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Fixtures
      summary: Describe fixtures by id
      x-summary-source: derived
      operationId: optionsFixturesById
      x-operation-id-source: derived
    get:
      tags:
      - Fixtures
      summary: Retrieve fixtures details by ID
      description: Returns fixtures details including sport specific details (metadata properties)
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: deleted
        in: query
        description: 'This field specifies whether to include deleted, not deleted, or both. Possible values: False, True, or All.'
        required: false
        schema:
          type: string
      - name: eventType
        in: query
        description: The field specifies the type of event to return (Match, SeasonOutright, PartialOutright, AggregateEvent). If not provided, the search defaults to fixtures of type 'Match'.
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: Single fixtures ID to return details for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getFixturesById
      x-operation-id-source: derived
    delete:
      tags:
      - Fixtures
      summary: Delete existing fixture
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: deleteFixturesById
      x-operation-id-source: derived
  /fixtures/{id}/contracts:
    options:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Fixtures
      summary: Describe fixtures by id contracts
      x-summary-source: derived
      operationId: optionsFixturesByIdContracts
      x-operation-id-source: derived
  /fixtures/{id}/lineups:
    options:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Fixtures
      summary: Describe fixtures by id lineups
      x-summary-source: derived
      operationId: optionsFixturesByIdLineups
      x-operation-id-source: derived
    get:
      tags:
      - Fixtures
      summary: Retrieve whole fixture's lineups by fixture ID for both teams
      description: Lineup availability may vary depending on the sport and specific fixture. In certain sports, lineups are provided only for selected competitions only. When lineup data is not available, the API will return an empty response.
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Single fixture ID to return lineups for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureLineupsResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getFixturesByIdLineups
      x-operation-id-source: derived
  /fixtures/{id}/officials:
    options:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Fixtures
      summary: Describe fixtures by id officials
      x-summary-source: derived
      operationId: optionsFixturesByIdOfficials
      x-operation-id-source: derived
    get:
      tags:
      - Fixtures
      summary: Retrieve fixture's officials by fixture ID. MAX 200 per page
      description: Returns fixture's officials wrapped inside a HATEOAS model
      parameters:
      - name: page
        in: query
        description: The number of page to be returned. The default value is 1.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: The size of the page to be returned. The default value is 10.
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: The field to 'order by' by. Descending ordering also allowed.
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The field to 'filter' by. Check main description for filter comparators.
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: Single fixture ID to return officials for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureOfficialResponseModelHATEOASReponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getFixturesByIdOfficials
      x-operation-id-source: derived
    post:
      tags:
      - Fixtures
      summary: Adds new official to the fixture
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: Single fixture ID to create official for
        required: true
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureOfficialResponseModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFixtureOfficial'
        required: true
      operationId: postFixturesByIdOfficials
      x-operation-id-source: derived
    put:
      tags:
      - Fixtures
      summary: Update existing fixture official
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: Single fixture ID to update official for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FixtureOfficialResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFixtureOfficial'
        required: true
      operationId: putFixturesByIdOfficials
      x-operation-id-source: derived
  /fixtures/{id}/officials/{personId}:
    options:
      parameters:
      - name: personId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Fixtures
      summary: Describe fixtures by id officials by person id
      x-summary-source: derived
      operationId: optionsFixturesByIdOfficialsByPersonId
      x-operation-id-source: derived
    delete:
      tags:
      - Fixtures
      summary: Removes official added to fixture
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: personId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: deleteFixturesByIdOfficialsByPersonId
      x-operation-id-source: derived
components:
  schemas:
    Empty:
      type: object
    FixtureRefdataVenue:
      type: object
      properties:
        id:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        name:
          type: string
    FixtureRefdataResponseModelHATEOASReponseModel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/FixtureRefdataResponse'
        self:
          type: string
        previous:
          type: string
        next:
          type: string
        first:
          type: string
        last:
          type: string
    UpdateFixture:
      type: object
      required:
      - competitors
      - startDate
      properties:
        id:
          type: integer
          format: int64
          description: The ID of the fixture.
          title: Id
        competitors:
          type: array
          description: Array of competitors to be added to the fixture.
          title: Competitors
          items:
            type: integer
            description: Competitors which belong to the fixture.
            title: Competitors
        homeCompetitorId:
          type: integer
          format: int64
          description: 'The ID of the competitor from the competitors list to be marked as home competitor of the fixture. Can only be updated if set to TBD competitor. By default if home competitor is not sent, the competitor which is first in the competitors list will be marked as home competitor. E.g. If you send competitors: [3,2,1], competitor with id 3 will be set as home competitor. If you send competitors: [1, 2, 3], competitor with id 1 will be marked as home competitor'
          title: Home Competitor Id
        startDate:
          type: string
          format: date-time
          description: The start date of the fixture in UTC ISO-8601 format
          title: Start Date
        roundId:
          type: integer
          format: int64
          description: The ID of the round the fixture belongs to.
          title: Round ID
        venueId:
          type: integer
          format: int64
          description: The ID of the venue the fixture is played at.
          title: Venue ID
        localityId:
          type: integer
          format: int64
          description: The ID of the country/region/administrative zone the fixture is played at.
          title: Locality ID
        EventStatusType:
          type: integer
          format: int32
          description: 0 - Notstarted; 1 - Inprogress; 2 - Finished; 3 - Cancelled; 4 - Postponed
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/fixture/metadata
          title: metadataProperties
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        matchDay:
          type: integer
          format: int32
        attendance:
          type: integer
          format: int32
      title: Update Fixture Model
      description: This model should be used to propose an update to a fixture.
    HALEmbededResponse:
      type: object
      required:
      - id
      - name
      - ref
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        ref:
          type: string
    CreateFixture:
      type: object
      required:
      - competitors
      - seasonId
      - startDate
      properties:
        seasonId:
          type: integer
          format: int64
          description: The ID of the season to fixture belongs to.
          title: Season Id
        competitors:
          type: array
          description: Array of competitors to be added to the fixture.
          title: Competitors
          items:
            type: integer
            description: Competitors which belong to the fixture.
            title: Competitors
        homeCompetitorId:
          type: integer
          format: int64
          description: 'The ID of the competitor from the competitors list to be marked as home competitor of the fixture. Can only be updated if set to TBD competitor. By default if home competitor is not sent, the competitor which is first in the competitors list will be marked as home competitor. E.g. If you send competitors: [3,2,1], competitor with id 3 will be set as home competitor. If you send competitors: [1, 2, 3], competitor with id 1 will be marked as home competitor'
          title: Home Competitor Id
        startDate:
          type: string
          format: date-time
          description: The start date of the fixture in UTC ISO-8601 format
          title: Start Date
        roundId:
          type: integer
          format: int64
          description: The ID of the round the fixture belongs to.
          title: Round ID
        venueId:
          type: integer
          format: int64
          description: The ID of the venue the fixture is played at.
          title: Venue ID
        localityId:
          type: integer
          format: int64
          description: The ID of the country/region/administrative zone the fixture is played at.
          title: Locality ID
        name:
          type: string
          description: Optionally a name can be posted, which will override the default Competitor one V Competitor two logic. It's applicable for non two competitor sports
          title: Name
          maxLength: 250
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/fixture/metadata
          title: metadataProperties
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        matchDay:
          type: integer
          format: int32
        attendance:
          type: integer
          format: int32
      title: Create Fixture Model
      description: This model should be used to propose a new fixture.
    JsonbModelViewModel:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the property.
          title: Property name
        value:
          type: string
          description: Value of the property.
          title: Property value
      title: Create/Update Property Model
      description: This model should be used to create or update single property value for specific property name for specific model.
    CompetitorHALEmbededResponse:
      type: object
      required:
      - competitorType
      - id
      - name
      - ref
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        competitorType:
          type: string
          description: Team, Player, Horse, Jockey, HorseOwner, Dog, Breeder, DoublesPartnership, Other, TBD
        ref:
          type: string
    LineupPlayerResponseModel:
      type: object
      properties:
        player:
          $ref: '#/components/schemas/CompetitorHALEmbededResponse'
        shirtNumber:
          type: string
        position:
          type: string
        formationPosition:
          type: string
        formationPositionName:
          type: string
        isHome:
          type: boolean
        order:
          type: integer
          format: int32
        isStarter:
          type: boolean
    AcceptedModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    FixtureRefdataSeason:
      type: object
      properties:
        id:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        name:
          type: string
    FixtureOfficialResponseModelHATEOASReponseModel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/FixtureOfficialResponseModel'
        self:
          type: string
        previous:
          type: string
        next:
          type: string
        first:
          type: string
        last:
          type: string
    PatchFixture:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
          description: The ID of the fixture.
          title: Id
        startDate:
          type: string
          format: date-time
          description: The start date of the fixture in UTC ISO-8601 format
          title: Start Date
        venueId:
          type: integer
          format: int64
          description: The ID of the venue the fixture is played at.
          title: Venue ID
        roundId:
          type: integer
          format: int64
          description: The ID of the round the fixture is for.
          title: Round ID
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/competition/metadata
          title: metadataProperties
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
      title: Patch Fixture Model
      description: This model should be used to propose a partial update/patch to a fixture.
    FixtureOfficialResponseModel:
      type: object
      required:
      - createdOn
      - id
      - person
      - sport
      - updatesCount
      properties:
        id:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        updatesCount:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/PersonHALEmbededResponse'
        sport:
          $ref: '#/components/schemas/HALEmbededResponse'
        metadataProperties:
          type: array
          items:
            $ref: '#/components/schemas/JsonbModel'
    FixtureCompetitorHALEmbededResponse:
      type: object
      required:
      - competitorType
      - id
      - name
      - ref
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        competitorType:
          type: string
          description: Team, Player, Horse, Jockey, HorseOwner, Dog, Breeder, DoublesPartnership, Other, TBD
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        metadataProperties:
          type: array
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        ref:
          type: string
    ageCategory:
      type: string
      title: Age Category
      description: 'Default is Senior.  One of: U5, U6, U7, U8, U9, U10, U11, U12, U13, U14, U15, U16, U17, U18, U19, U20, U21, U22, U23, Senior'
    FixtureRefdataCompetition:
      type: object
      properties:
        id:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        name:
          type: string
    FixtureRefdataResponse:
      type: object
      properties:
        fixture:
          $ref: '#/components/schemas/FixtureRefdataFixture'
    FixtureRefdataCompetitor:
      type: object
      properties:
        id:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        name:
          type: string
        isHome:
          type: boolean
        formation:
          type: string
        lineup:
          type: array
          items:
            $ref: '#/components/schemas/FixtureRefdataLineupPlayer'
    PersonHALEmbededResponse:
      type: object
      required:
      - firstName
      - fullName
      - genderType
      - id
      - lastName
      - locality
      - ref
      properties:
        id:
          type: integer
          format: int64
        dateOfBirth:
          type: string
          format: date-time
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        nickName:
          type: string
        genderType:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        locality:
          $ref: '#/components/schemas/HALEmbededResponse'
        ref:
          type: string
    ErrorModel:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
    PersonGenderType:
      type: integer
      title: Gender Type
      format: int32
      description: 'This property defines the possible person gender types which can be set as integer values. Each integer value is associated with relevant gender type as follows: 0 - Undefined; 1 - Male; 2 - Female;'
      enum:
      - '0'
      - '1'
      - '2'
    FixtureRefdataFixture:
      type: object
      properties:
        id:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        startDate:
          type: string
          format: date-time
        metadataProperties:
          type: array
          items:
            $ref: '#/components/schemas/JsonbModel'
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/FixtureRefdataCompetitor'
        season:
          $ref: '#/components/schemas/FixtureRefdataSeason'
        venue:
          $ref: '#/components/schemas/FixtureRefdataVenue'
        competition:
          $ref: '#/components/schemas/FixtureRefdataCompetition'
    BadRequestModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    LineupTeamResponseModel:
      allOf:
      - $ref: '#/components/schemas/CompetitorHALEmbededResponse'
      - properties:
          formation:
            type: string
            description: The team formation for the current lineup
            title: Team formation in the lineup, e.g. 4-4-2
    FixtureResponseModelHATEOASReponseModel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/FixtureResponseModel'
        self:
          type: string
        previous:
          type: string
        next:
          type: string
        first:
          type: string
        last:
          type: string
    CreateFixtureOfficial:
      type: object
      properties:
        personId:
          type: integer
          format: int64
          description: Id of the person which will be added as fixture official
          minimum: 1.0
        person:
          description: Person information if not been created early, if the person already exists - leave empty.
          $ref: '#/components/schemas/CreatePersonViewModel'
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/fixtureperson/metadata
          title: metadataProperties
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
    ErrorDuplicateModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
        geniusSportsConflictId:
          type: string
          description: This is the official genius sports ID, which you have conflict with.
    Error:
      type: object
      required:
      - domain
      - message
      - reason
      properties:
        reason:
          type: string
        domain:
          type: string
        locationType:
          type: string
        location:
          type: string
        message:
          type: string
    ExternalIdsViewModel:
      type: object
      properties:
        optaId:
          type: string
        optaLegacyId:
          type: string
        fibaId:
          type: string
        vesselId:
          type: string
        statsEngineId:
          type: string
      description: External system identifiers. Key represents the external system name (e.g., 'optaId', 'optaLegacyId', 'fibaId', 'vesselId','statsEngineId'), value represents the identifier. The property also allows filtering by specific external system identifiers. For example '?filter=externalIds.optaId[equals]:12345' to filter entities with a specific Opta ID.
    FixtureLineupsResponseModel:
      type: object
      required:
      - confirmed
      - createdOn
      - id
      - lineupPlayers
      - updatesCount
      properties:
        id:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        updatesCount:
          type: integer
          format: int32
        fixture:
          $ref: '#/components/schemas/HALEmbededResponse'
        confirmed:
          type: boolean
        homeTeam:
          $ref: '#/components/schemas/LineupTeamResponseModel'
        awayTeam:
          $ref: '#/components/schemas/LineupTeamResponseModel'
        lineupPlayers:
          type: array
          items:
            $ref: '#/components/schemas/LineupPlayerResponseModel'
    FixtureResponseModel:
      type: object
      required:
      - competition
      - createdOn
      - eventStatusType
      - eventType
      - genderType
      - id
      - name
      - sport
      - startDate
      - updatesCount
      properties:
        id:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        updatesCount:
          type: integer
          format: int32
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/fixture/metadata
          items:
            $ref: '#/components/schemas/JsonbModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        startDate:
          type: string
          format: date-time
        name:
          type: string
        season:
          $ref: '#/components/schemas/HALEmbededResponse'
        eventStatusType:
          type: string
          description: Notstarted, Inprogress, Finished, Cancelled, Postponed.
        locality:
          $ref: '#/components/schemas/HALEmbededResponse'
        timezone:
          $ref: '#/components/schemas/HALEmbededResponse'
        venue:
          $ref: '#/components/schemas/HALEmbededResponse'
        sport:
          $ref: '#/components/schemas/HALEmbededResponse'
        competition:
          $ref: '#/components/schemas/HALEmbededResponse'
        round:
          $ref: '#/components/schemas/HALEmbededResponse'
        homeCompetitor:
          description: Id of the competitor marked as home competitor
          $ref: '#/components/schemas/CompetitorHALEmbededResponse'
        genderType:
          type: string
          description: Undefined, Male, Female, Mixed.
        ageCategory:
          $ref: '#/components/schemas/ageCategory'
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/FixtureCompetitorHALEmbededResponse'
        fixtureLink:
          $ref: '#/components/schemas/HALEmbededResponse'
        eventType:
          type: string
          description: Match, VirtualMatch, SeasonOutright, PartialOutright, AggregateEvent
        matchDay:
          type: integer
          format: int32
        attendance:
          type: integer
          format: int32
    CreatePersonViewModel:
      type: object
      required:
      - firstName
      - genderType
      - lastName
      - localityId
      - useNickname
      properties:
        firstName:
          type: string
          description: The first name of the person
          title: First Name
          maxLength: 256
        lastName:
          type: string
          description: The last name of the person
          title: Last Name
          maxLength: 256
        nickName:
          type: string
          description: The nickname of the person
          title: Nickname
          maxLength: 128
        useNickname:
          type: boolean
          description: Whether the nickname should be used instead of the name of the person when displaying the person. If the useNickname property is set to true nickname is required!
          title: Is active
        localityId:
          type: integer
          format: int64
          description: Id of the country,virtual place, etc. of the person!
          title: Locality Id
        dateOfBirth:
          type: string
          format: date-time
          description: The date of birth of the person
          title: Date of birth
        genderType:
          $ref: '#/components/schemas/PersonGenderType'
        sports:
          type: array
          description: Array of sport Ids to be added to the person.
          title: Sports
          items:
            type: integer
            description: Sports to which the person belongs to.
            title: Sports
    JsonbModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        isDeleted:
          type: boolean
    FixtureRefdataLineupPlayer:
      type: object
      properties:
        id:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        order:
          type: integer
          format: int32
        isStarter:
          type: boolean
        name:
          type: string
        shirtNumber:
          type: string
        position:
          type: string
        formationPosition:
          type: string
        formationPositionName:
          type: string
  securitySchemes:
    Auth0:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: oauth2
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-amazon-apigateway-security-policy: TLS_1_0
