openapi: 3.2.0
info:
  description: This is Genius Sports Services Fixture API.
  version: 2.0.280
  title: Fixtures-v2 Rounds API
  contact:
    email: sbonboarding@geniussports.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://fixtures.api.geniussports.com/v2
tags:
- name: Rounds
paths:
  /rounds:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Rounds
      summary: Describe rounds
      x-summary-source: derived
      operationId: optionsRounds
      x-operation-id-source: derived
    get:
      tags:
      - Rounds
      summary: Retrieve rounds by ID/s. MAX 200 per page
      description: Returns rounds wrapped inside a HATEOAS model
      parameters:
      - name: page
        in: query
        description: The number of page to be returned. The default value is 1.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: The size of the page to be returned. The default value is 10.
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'The field to ''order by'' by. Descending ordering also allowed. Fields to order by for this endpoint: (id, seasonId, competitionId, sportId, type)'
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'The field to ''filter'' by. Check main description for filter comparators. Fields to filter by for this endpoint: (id, seasonId, competitionId, sportId, type)'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundResponseModelHATEOASReponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getRounds
      x-operation-id-source: derived
    post:
      tags:
      - Rounds
      summary: Create new round
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundResponseModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRound'
        required: true
      operationId: postRounds
      x-operation-id-source: derived
    put:
      tags:
      - Rounds
      summary: Update existing round
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRound'
        required: true
      operationId: putRounds
      x-operation-id-source: derived
    patch:
      tags:
      - Rounds
      summary: Patch existing round
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRound'
        required: true
      operationId: patchRounds
      x-operation-id-source: derived
  /rounds/{id}:
    options:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Rounds
      summary: Describe rounds by id
      x-summary-source: derived
      operationId: optionsRoundsById
      x-operation-id-source: derived
    get:
      tags:
      - Rounds
      summary: Retrieve rounds details by ID
      description: Returns rounds details including sport specific details (metadata properties)
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: Single rounds ID to return details for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getRoundsById
      x-operation-id-source: derived
    delete:
      tags:
      - Rounds
      summary: Delete existing round
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: deleteRoundsById
      x-operation-id-source: derived
  /rounds/{id}/competitors:
    options:
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Rounds
      summary: Describe rounds by id competitors
      x-summary-source: derived
      operationId: optionsRoundsByIdCompetitors
      x-operation-id-source: derived
    get:
      tags:
      - Rounds
      summary: Retrieve round competitors by Round ID/s. MAX 200 per page
      description: Returns the competitors which will take part in the round related to the GSS Round Id in the path, wrapped inside a HATEOAS model
      parameters:
      - name: page
        in: query
        description: The number of page to be returned. The default value is 1.
        required: false
        schema:
          type: string
      - name: pageSize
        in: query
        description: The size of the page to be returned. The default value is 10.
        required: false
        schema:
          type: string
      - name: sortBy
        in: query
        description: 'The field to ''order by'' by. Descending ordering also allowed. Fields to order by for this endpoint: (id, name)'
        required: false
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: 'The field to ''filter'' by. Check main description for filter comparators. Fields to filter by for this endpoint: (id, name, isactive (default = true))'
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: Single rounds ID to return details for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundCompetitorsResponseModelHATEOASReponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getRoundsByIdCompetitors
      x-operation-id-source: derived
    post:
      tags:
      - Rounds
      summary: Adds new competitor to the round
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '201':
          description: Created
          headers:
            gs-duplicate-entity-replaced:
              description: Returned when a duplicate entity has been replaced. Value is the 'duplicateEntityId' and the 'originalEntityId'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoundResponseModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '409':
          description: Conflict, see the response message or the 'geniussports-conflict-id' header to see the ID of the conflict!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDuplicateModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoundCompetitor'
        required: true
      operationId: postRoundsByIdCompetitors
      x-operation-id-source: derived
  /groups/{id}:
    delete:
      tags:
      - Rounds
      summary: Delete existing round
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: deleteGroupsById
      x-operation-id-source: derived
  /rounds/{id}/competitors/{competitorId}:
    delete:
      tags:
      - Rounds
      summary: Removes competitor added to round
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: competitorId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: deleteRoundsByIdCompetitorsByCompetitorId
      x-operation-id-source: derived
components:
  schemas:
    Empty:
      type: object
    ExternalIdsViewModel:
      type: object
      properties:
        optaId:
          type: string
        optaLegacyId:
          type: string
        fibaId:
          type: string
        vesselId:
          type: string
        statsEngineId:
          type: string
      description: External system identifiers. Key represents the external system name (e.g., 'optaId', 'optaLegacyId', 'fibaId', 'vesselId','statsEngineId'), value represents the identifier. The property also allows filtering by specific external system identifiers. For example '?filter=externalIds.optaId[equals]:12345' to filter entities with a specific Opta ID.
    CreateRound:
      type: object
      required:
      - competitors
      - enddate
      - name
      - seasonId
      - startdate
      - type
      properties:
        name:
          type: string
          description: Name of the round.
          title: Round name
        competitors:
          type: array
          description: Array of competitors to be added to the round. Competitors are mandatory for rounds of type `Phase` and `Aggregate`. Rounds of type `Round` cannot have competitors
          title: Competitors
          items:
            type: integer
            description: Competitors which are associated with the round.
            title: Competitors
        startdate:
          type: string
          format: date-time
          description: The start date of the round in UTC ISO-8601 format
          title: 'Start Date '
        enddate:
          type: string
          format: date-time
          description: The end date of the fixture in UTC ISO-8601 format
          title: End Date
        type:
          type: string
          description: "The type of round. 0 = Phase \n1 = Round \n2 = AggregateEvent"
          title: Type
        seasonId:
          type: integer
          format: int64
          description: The ID of the season the round belongs to.
          title: Season Id
        parentRoundId:
          type: integer
          format: int64
          description: The ID of the parent round to which posted round belongs.
          title: Parent Round Id
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/round/metadata
          title: metadataProperties
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        timezone:
          type: string
          description: 'The timezone which will be set as default timezone for the competition''s fixtures if timezone is not specified. Possible timezones (splited by '',''): Africa/Abidjan,Africa/Accra,Africa/Addis_Ababa,Africa/Algiers,Africa/Bamako,Africa/Bangui,Africa/Banjul,Africa/Bissau,Africa/Blantyre,Africa/Brazzaville,Africa/Bujumbura,Africa/Cairo,Africa/Casablanca,Africa/Ceuta,Africa/Conakry,Africa/Dakar,Africa/Dar_es_Salaam,Africa/Djibouti,Africa/Douala,Africa/Freetown,Africa/Gaborone,Africa/Harare,Africa/Johannesburg,Africa/Juba,Africa/Kampala,Africa/Khartoum,Africa/Kigali,Africa/Kinshasa,Africa/Lagos,Africa/Libreville,Africa/Lome,Africa/Luanda,Africa/Lubumbashi,Africa/Lusaka,Africa/Malabo,Africa/Maputo,Africa/Maseru,Africa/Mbabane,Africa/Mogadishu,Africa/Monrovia,Africa/Nairobi,Africa/Ndjamena,Africa/Niamey,Africa/Nouakchott,Africa/Ouagadougou,Africa/Porto-Novo,Africa/Sao_Tome,Africa/Tripoli,Africa/Tunis,Africa/Windhoek,America/Adak,America/Anguilla,America/Antigua,America/Argentina/Buenos_Aires,America/Argentina/Catamarca,America/Argentina/Cordoba,America/Argentina/Jujuy,America/Argentina/Mendoza,America/Argentina/Rio_Gallegos,America/Argentina/Salta,America/Argentina/San_Juan,America/Argentina/San_Luis,America/Argentina/Tucuman,America/Aruba,America/Asuncion,America/Bahia,America/Barbados,America/Belem,America/Belize,America/Bogota,America/Boise,America/Buenos_Aires,America/Campo_Grande,America/Cancun,America/Caracas,America/Chicago,America/Chihuahua,America/Costa_Rica,America/Cuiaba,America/Curacao,America/Denver,America/Detroit,America/Dominica,America/Edmonton,America/El_Salvador,America/Fortaleza,America/Grenada,America/Guadeloupe,America/Guatemala,America/Guayaquil,America/Guyana,America/Halifax,America/Havana,America/Hermosillo,America/Indiana/Indianapolis,America/Indiana/Petersburg,America/Indiana/Vevay,America/Indiana/Vincennes,America/Indianapolis,America/Jamaica,America/Kentucky/Louisville,America/Kentucky/Monticello,America/La_Paz,America/Lima,America/Los_Angeles,America/Louisville,America/Managua,America/Manaus,America/Mazatlan,America/Mendoza,America/Menominee,America/Merida,America/Mexico_City,America/Moncton,America/Monterrey,America/Montevideo,America/Montreal,America/Nassau,America/New_York,America/Panama,America/Paramaribo,America/Phoenix,America/Port-au-Prince,America/Porto_Velho,America/Port_of_Spain,America/Puerto_Rico,America/Recife,America/Rio_Branco,America/Rosario,America/Santiago,America/Santo_Domingo,America/Sao_Paulo,America/Scoresbysund,America/St_Johns,America/St_Kitts,America/St_Lucia,America/St_Thomas,America/Tegucigalpa,America/Tijuana,America/Toronto,America/Vancouver,America/Whitehorse,Asia/Aden,Asia/Almaty,Asia/Amman,Asia/Aqtobe,Asia/Ashgabat,Asia/Ashkhabad,Asia/Baghdad,Asia/Bahrain,Asia/Baku,Asia/Bangkok,Asia/Beirut,Asia/Bishkek,Asia/Brunei,Asia/Calcutta,Asia/Chita,Asia/Chongqing,Asia/Chungking,Asia/Colombo,Asia/Dacca,Asia/Damascus,Asia/Dhaka,Asia/Dubai,Asia/Dushanbe,Asia/Gaza,Asia/Harbin,Asia/Hong_Kong,Asia/Hovd,Asia/Ho_Chi_Minh,Asia/Irkutsk,Asia/Istanbul,Asia/Jakarta,Asia/Jayapura,Asia/Jerusalem,Asia/Kabul,Asia/Karachi,Asia/Kathmandu,Asia/Katmandu,Asia/Kolkata,Asia/Krasnoyarsk,Asia/Kuala_Lumpur,Asia/Kuching,Asia/Kuwait,Asia/Macao,Asia/Macau,Asia/Makassar,Asia/Manila,Asia/Muscat,Asia/Nicosia,Asia/Novokuznetsk,Asia/Novosibirsk,Asia/Omsk,Asia/Oral,Asia/Phnom_Penh,Asia/Pyongyang,Asia/Qatar,Asia/Rangoon,Asia/Riyadh,Asia/Saigon,Asia/Sakhalin,Asia/Samarkand,Asia/Seoul,Asia/Shanghai,Asia/Singapore,Asia/Taipei,Asia/Tashkent,Asia/Tbilisi,Asia/Tehran,Asia/Tel_Aviv,Asia/Thimphu,Asia/Tokyo,Asia/Ulaanbaatar,Asia/Vientiane,Asia/Vladivostok,Asia/Yakutsk,Asia/Yekaterinburg,Asia/Yerevan,Atlantic/Azores,Atlantic/Bermuda,Atlantic/Canary,Atlantic/Cape_Verde,Atlantic/Faeroe,Atlantic/Faroe,Atlantic/Madeira,Atlantic/Reykjavik,Australia/ACT,Australia/Adelaide,Australia/Brisbane,Australia/Canberra,Australia/Currie,Australia/Darwin,Australia/Hobart,Australia/Melbourne,Australia/North,Australia/NSW,Australia/Perth,Australia/Queensland,Australia/South,Australia/Sydney,Australia/Tasmania,Australia/Victoria,Australia/West,Brazil/Acre,Brazil/DeNoronha,Brazil/East,Brazil/West,Canada/Atlantic,Canada/Central,Canada/Eastern,Canada/Mountain,Canada/Newfoundland,Canada/Pacific,CET,Chile/Continental,CST6CDT,Cuba,EET,Egypt,EST,Etc/GMT,Etc/GMT+1,Etc/GMT+12,Etc/GMT+2,Etc/GMT+3,Etc/GMT+4,Etc/GMT+5,Etc/GMT+6,Etc/GMT+7,Etc/GMT+8,Etc/GMT+9,Etc/GMT-0,Etc/GMT-1,Etc/GMT-2,Etc/GMT-3,Etc/GMT-4,Etc/GMT-5,Etc/GMT-7,Etc/GMT-8,Etc/Greenwich,Etc/UTC,Europe/Amsterdam,Europe/Andorra,Europe/Athens,Europe/Belfast,Europe/Belgrade,Europe/Berlin,Europe/Bratislava,Europe/Brussels,Europe/Bucharest,Europe/Budapest,Europe/Chisinau,Europe/Copenhagen,Europe/Dublin,Europe/Gibraltar,Europe/Helsinki,Europe/Isle_of_Man,Europe/Istanbul,Europe/Kaliningrad,Europe/Kiev,Europe/Lisbon,Europe/Ljubljana,Europe/London,Europe/Luxembourg,Europe/Madrid,Europe/Malta,Europe/Minsk,Europe/Monaco,Europe/Moscow,Europe/Nicosia,Europe/Oslo,Europe/Paris,Europe/Podgorica,Europe/Prague,Europe/Riga,Europe/Rome,Europe/Samara,Europe/San_Marino,Europe/Sarajevo,Europe/Skopje,Europe/Sofia,Europe/Stockholm,Europe/Tallinn,Europe/Tirane,Europe/Tiraspol,Europe/Uzhgorod,Europe/Vaduz,Europe/Vatican,Europe/Vienna,Europe/Vilnius,Europe/Volgograd,Europe/Warsaw,Europe/Zagreb,Europe/Zaporozhye,Europe/Zurich,GB,GB-Eire,GMT,GMT0,Hongkong,Iceland,Indian/Cocos,Indian/Kerguelen,Indian/Mahe,Indian/Maldives,Indian/Mauritius,Indian/Reunion,Iran,Israel,Jamaica,Japan,Libya,Mexico/BajaNorte,Mexico/BajaSur,Mexico/General,MST,MST7MDT,NZ,Pacific/Apia,Pacific/Auckland,Pacific/Easter,Pacific/Fiji,Pacific/Guadalcanal,Pacific/Kosrae,Pacific/Noumea,Pacific/Ponape,Pacific/Port_Moresby,Pacific/Tahiti,Poland,Portugal,Singapore,Turkey,UCT,US/Arizona,US/Central,US/East-Indiana,US/Eastern,US/Hawaii,US/Indiana-Starke,US/Michigan,US/Mountain,US/Pacific,US/Pacific-New,UTC,WET'
          title: Round timezone
      title: Create Round Model
      description: This model should be used to create a round object.
    RoundResponseModel:
      type: object
      required:
      - competition
      - createdOn
      - endDate
      - id
      - name
      - season
      - sport
      - startDate
      - type
      - updatesCount
      properties:
        id:
          type: integer
          format: int64
        createdOn:
          type: string
          format: date-time
        modifiedOn:
          type: string
          format: date-time
        updatesCount:
          type: integer
          format: int32
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/round/metadata
          items:
            $ref: '#/components/schemas/JsonbModel'
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        name:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        type:
          type: string
          description: Phase, Round, AggregateEvent
        season:
          $ref: '#/components/schemas/HALEmbededResponse'
        sport:
          $ref: '#/components/schemas/HALEmbededResponse'
        competition:
          $ref: '#/components/schemas/HALEmbededResponse'
        parentRound:
          $ref: '#/components/schemas/HALEmbededResponse'
        timezone:
          $ref: '#/components/schemas/HALEmbededResponse'
    PatchRound:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
          description: The ID of the round.
          title: Id
        startDate:
          type: string
          format: date-time
          description: The start date of the round in UTC ISO-8601 format
          title: Start Date
        endDate:
          type: string
          format: date-time
          description: The end date of the round in UTC ISO-8601 format
          title: End Date
      title: Patch Round Model
      description: This model should be used to propose a partial update/patch to a round.
    ErrorModel:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
    JsonbModel:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        isDeleted:
          type: boolean
    BadRequestModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    CreateRoundCompetitor:
      type: object
      properties:
        competitorId:
          type: integer
          format: int64
          description: The id of the competitor which will be added in the round
          title: Competitor Id
    RoundResponseModelHATEOASReponseModel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/RoundResponseModel'
        self:
          type: string
        previous:
          type: string
        next:
          type: string
        first:
          type: string
        last:
          type: string
    RoundCompetitorsResponseModelHATEOASReponseModel:
      type: object
      properties:
        page:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int64
        items:
          type: array
          items:
            $ref: '#/components/schemas/RoundCompetitorsResponseModel'
        self:
          type: string
        previous:
          type: string
        next:
          type: string
        first:
          type: string
        last:
          type: string
    RoundCompetitorsResponseModel:
      type: object
      required:
      - competitorType
      - genderType
      - id
      - locality
      - name
      - ref
      properties:
        id:
          type: integer
          format: int64
          description: Id of the competitor
        name:
          type: string
          description: Name of the competitor
        competitorType:
          type: string
          description: Type of the competitor
        ref:
          type: string
          description: Endpoint to competitor
        genderType:
          type: string
          description: Gender of the competitor
        locality:
          $ref: '#/components/schemas/HALEmbededResponse'
    AcceptedModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    ErrorDuplicateModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
        geniusSportsConflictId:
          type: string
          description: This is the official genius sports ID, which you have conflict with.
    HALEmbededResponse:
      type: object
      required:
      - id
      - name
      - ref
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIdsViewModel'
        ref:
          type: string
    JsonbModelViewModel:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Name of the property.
          title: Property name
        value:
          type: string
          description: Value of the property.
          title: Property value
      title: Create/Update Property Model
      description: This model should be used to create or update single property value for specific property name for specific model.
    UpdateRound:
      type: object
      required:
      - competitors
      - enddate
      - id
      - name
      - seasonId
      - startdate
      - type
      properties:
        id:
          type: integer
          format: int64
          description: The ID of the round.
          title: Round Id
        name:
          type: string
          description: Name of the round.
          title: Round name
        competitors:
          type: array
          description: Array of competitors to be added to the round. Competitors are mandatory for rounds of type `Phase` and `Aggregate`. Rounds of type `Round` cannot have competitors
          title: Competitors
          items:
            type: integer
            description: Competitors which are associated with the round.
            title: Competitors
        startdate:
          type: string
          format: date-time
          description: The start date of the round in UTC ISO-8601 format
          title: 'Start Date '
        enddate:
          type: string
          format: date-time
          description: The end date of the fixture in UTC ISO-8601 format
          title: End Date
        type:
          type: string
          description: "The type of round. 0 = Phase \n1 = Round \n2 = AggregateEvent"
          title: Type
        seasonId:
          type: integer
          format: int64
          description: The ID of the season the round belongs to.
          title: Season Id
        metadataProperties:
          type: array
          description: In order to retrieve allowed metadata properties with their values execute get request on this path - /sports/{id}/round/metadata
          title: metadataProperties
          items:
            $ref: '#/components/schemas/JsonbModelViewModel'
        timezone:
          type: string
          description: 'The timezone which will be set as default timezone for the competition''s fixtures if timezone is not specified. Possible timezones (splited by '',''): Africa/Abidjan,Africa/Accra,Africa/Addis_Ababa,Africa/Algiers,Africa/Bamako,Africa/Bangui,Africa/Banjul,Africa/Bissau,Africa/Blantyre,Africa/Brazzaville,Africa/Bujumbura,Africa/Cairo,Africa/Casablanca,Africa/Ceuta,Africa/Conakry,Africa/Dakar,Africa/Dar_es_Salaam,Africa/Djibouti,Africa/Douala,Africa/Freetown,Africa/Gaborone,Africa/Harare,Africa/Johannesburg,Africa/Juba,Africa/Kampala,Africa/Khartoum,Africa/Kigali,Africa/Kinshasa,Africa/Lagos,Africa/Libreville,Africa/Lome,Africa/Luanda,Africa/Lubumbashi,Africa/Lusaka,Africa/Malabo,Africa/Maputo,Africa/Maseru,Africa/Mbabane,Africa/Mogadishu,Africa/Monrovia,Africa/Nairobi,Africa/Ndjamena,Africa/Niamey,Africa/Nouakchott,Africa/Ouagadougou,Africa/Porto-Novo,Africa/Sao_Tome,Africa/Tripoli,Africa/Tunis,Africa/Windhoek,America/Adak,America/Anguilla,America/Antigua,America/Argentina/Buenos_Aires,America/Argentina/Catamarca,America/Argentina/Cordoba,America/Argentina/Jujuy,America/Argentina/Mendoza,America/Argentina/Rio_Gallegos,America/Argentina/Salta,America/Argentina/San_Juan,America/Argentina/San_Luis,America/Argentina/Tucuman,America/Aruba,America/Asuncion,America/Bahia,America/Barbados,America/Belem,America/Belize,America/Bogota,America/Boise,America/Buenos_Aires,America/Campo_Grande,America/Cancun,America/Caracas,America/Chicago,America/Chihuahua,America/Costa_Rica,America/Cuiaba,America/Curacao,America/Denver,America/Detroit,America/Dominica,America/Edmonton,America/El_Salvador,America/Fortaleza,America/Grenada,America/Guadeloupe,America/Guatemala,America/Guayaquil,America/Guyana,America/Halifax,America/Havana,America/Hermosillo,America/Indiana/Indianapolis,America/Indiana/Petersburg,America/Indiana/Vevay,America/Indiana/Vincennes,America/Indianapolis,America/Jamaica,America/Kentucky/Louisville,America/Kentucky/Monticello,America/La_Paz,America/Lima,America/Los_Angeles,America/Louisville,America/Managua,America/Manaus,America/Mazatlan,America/Mendoza,America/Menominee,America/Merida,America/Mexico_City,America/Moncton,America/Monterrey,America/Montevideo,America/Montreal,America/Nassau,America/New_York,America/Panama,America/Paramaribo,America/Phoenix,America/Port-au-Prince,America/Porto_Velho,America/Port_of_Spain,America/Puerto_Rico,America/Recife,America/Rio_Branco,America/Rosario,America/Santiago,America/Santo_Domingo,America/Sao_Paulo,America/Scoresbysund,America/St_Johns,America/St_Kitts,America/St_Lucia,America/St_Thomas,America/Tegucigalpa,America/Tijuana,America/Toronto,America/Vancouver,America/Whitehorse,Asia/Aden,Asia/Almaty,Asia/Amman,Asia/Aqtobe,Asia/Ashgabat,Asia/Ashkhabad,Asia/Baghdad,Asia/Bahrain,Asia/Baku,Asia/Bangkok,Asia/Beirut,Asia/Bishkek,Asia/Brunei,Asia/Calcutta,Asia/Chita,Asia/Chongqing,Asia/Chungking,Asia/Colombo,Asia/Dacca,Asia/Damascus,Asia/Dhaka,Asia/Dubai,Asia/Dushanbe,Asia/Gaza,Asia/Harbin,Asia/Hong_Kong,Asia/Hovd,Asia/Ho_Chi_Minh,Asia/Irkutsk,Asia/Istanbul,Asia/Jakarta,Asia/Jayapura,Asia/Jerusalem,Asia/Kabul,Asia/Karachi,Asia/Kathmandu,Asia/Katmandu,Asia/Kolkata,Asia/Krasnoyarsk,Asia/Kuala_Lumpur,Asia/Kuching,Asia/Kuwait,Asia/Macao,Asia/Macau,Asia/Makassar,Asia/Manila,Asia/Muscat,Asia/Nicosia,Asia/Novokuznetsk,Asia/Novosibirsk,Asia/Omsk,Asia/Oral,Asia/Phnom_Penh,Asia/Pyongyang,Asia/Qatar,Asia/Rangoon,Asia/Riyadh,Asia/Saigon,Asia/Sakhalin,Asia/Samarkand,Asia/Seoul,Asia/Shanghai,Asia/Singapore,Asia/Taipei,Asia/Tashkent,Asia/Tbilisi,Asia/Tehran,Asia/Tel_Aviv,Asia/Thimphu,Asia/Tokyo,Asia/Ulaanbaatar,Asia/Vientiane,Asia/Vladivostok,Asia/Yakutsk,Asia/Yekaterinburg,Asia/Yerevan,Atlantic/Azores,Atlantic/Bermuda,Atlantic/Canary,Atlantic/Cape_Verde,Atlantic/Faeroe,Atlantic/Faroe,Atlantic/Madeira,Atlantic/Reykjavik,Australia/ACT,Australia/Adelaide,Australia/Brisbane,Australia/Canberra,Australia/Currie,Australia/Darwin,Australia/Hobart,Australia/Melbourne,Australia/North,Australia/NSW,Australia/Perth,Australia/Queensland,Australia/South,Australia/Sydney,Australia/Tasmania,Australia/Victoria,Australia/West,Brazil/Acre,Brazil/DeNoronha,Brazil/East,Brazil/West,Canada/Atlantic,Canada/Central,Canada/Eastern,Canada/Mountain,Canada/Newfoundland,Canada/Pacific,CET,Chile/Continental,CST6CDT,Cuba,EET,Egypt,EST,Etc/GMT,Etc/GMT+1,Etc/GMT+12,Etc/GMT+2,Etc/GMT+3,Etc/GMT+4,Etc/GMT+5,Etc/GMT+6,Etc/GMT+7,Etc/GMT+8,Etc/GMT+9,Etc/GMT-0,Etc/GMT-1,Etc/GMT-2,Etc/GMT-3,Etc/GMT-4,Etc/GMT-5,Etc/GMT-7,Etc/GMT-8,Etc/Greenwich,Etc/UTC,Europe/Amsterdam,Europe/Andorra,Europe/Athens,Europe/Belfast,Europe/Belgrade,Europe/Berlin,Europe/Bratislava,Europe/Brussels,Europe/Bucharest,Europe/Budapest,Europe/Chisinau,Europe/Copenhagen,Europe/Dublin,Europe/Gibraltar,Europe/Helsinki,Europe/Isle_of_Man,Europe/Istanbul,Europe/Kaliningrad,Europe/Kiev,Europe/Lisbon,Europe/Ljubljana,Europe/London,Europe/Luxembourg,Europe/Madrid,Europe/Malta,Europe/Minsk,Europe/Monaco,Europe/Moscow,Europe/Nicosia,Europe/Oslo,Europe/Paris,Europe/Podgorica,Europe/Prague,Europe/Riga,Europe/Rome,Europe/Samara,Europe/San_Marino,Europe/Sarajevo,Europe/Skopje,Europe/Sofia,Europe/Stockholm,Europe/Tallinn,Europe/Tirane,Europe/Tiraspol,Europe/Uzhgorod,Europe/Vaduz,Europe/Vatican,Europe/Vienna,Europe/Vilnius,Europe/Volgograd,Europe/Warsaw,Europe/Zagreb,Europe/Zaporozhye,Europe/Zurich,GB,GB-Eire,GMT,GMT0,Hongkong,Iceland,Indian/Cocos,Indian/Kerguelen,Indian/Mahe,Indian/Maldives,Indian/Mauritius,Indian/Reunion,Iran,Israel,Jamaica,Japan,Libya,Mexico/BajaNorte,Mexico/BajaSur,Mexico/General,MST,MST7MDT,NZ,Pacific/Apia,Pacific/Auckland,Pacific/Easter,Pacific/Fiji,Pacific/Guadalcanal,Pacific/Kosrae,Pacific/Noumea,Pacific/Ponape,Pacific/Port_Moresby,Pacific/Tahiti,Poland,Portugal,Singapore,Turkey,UCT,US/Arizona,US/Central,US/East-Indiana,US/Eastern,US/Hawaii,US/Indiana-Starke,US/Michigan,US/Mountain,US/Pacific,US/Pacific-New,UTC,WET'
          title: Round timezone
      title: Update Round Model
      description: This model should be used to update a round object.
    Error:
      type: object
      required:
      - domain
      - message
      - reason
      properties:
        reason:
          type: string
        domain:
          type: string
        locationType:
          type: string
        location:
          type: string
        message:
          type: string
  securitySchemes:
    Auth0:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: oauth2
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-amazon-apigateway-security-policy: TLS_1_0
