openapi: 3.2.0
info:
  description: This is Genius Sports Services Fixture API.
  version: 2.0.280
  title: Fixtures-v2 Ingestion API
  contact:
    email: sbonboarding@geniussports.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://fixtures.api.geniussports.com/v2
tags:
- name: Ingestion
paths:
  /ingestion/competitions/searchById:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion competitions search by id
      x-summary-source: derived
      operationId: optionsIngestionCompetitionsSearchById
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Search for ingestion proposals by competition Id
      description: Search for ingestion proposals by competition Id.
      parameters:
      - name: onlyOwned
        in: query
        description: Indicates whether proposals from other sources should be included.
        required: false
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: A list of competition Ids
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfproposalCompetition'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionCompetitionsSearchById
      x-operation-id-source: derived
  /ingestion/competitions/searchBySourceEntityId:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion competitions search by source entity id
      x-summary-source: derived
      operationId: optionsIngestionCompetitionsSearchBySourceEntityId
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Search for ingestion proposals by source entity Id
      description: Search for ingestion proposals by source entity Id.
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: sourceEntityIds
        in: query
        description: A list of source entity Ids
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: source
        in: query
        description: The source that ingested the proposals.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfproposalCompetition'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionCompetitionsSearchBySourceEntityId
      x-operation-id-source: derived
  /ingestion/competitions/{trackingRequestId}/status:
    options:
      parameters:
      - name: trackingRequestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion competitions by tracking request id status
      x-summary-source: derived
      operationId: optionsIngestionCompetitionsByTrackingRequestIdStatus
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Tracking the progress of the asynchronous execution
      description: Returns the current state of the ingestion request
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: trackingRequestId
        in: path
        description: GUID returned from an ingestion request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/competitionTrackingStatusResponse'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionCompetitionsByTrackingRequestIdStatus
      x-operation-id-source: derived
  /ingestion/fixtures/searchById:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion fixtures search by id
      x-summary-source: derived
      operationId: optionsIngestionFixturesSearchById
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Search for ingestion proposals by fixture Id
      description: Search for ingestion proposals by fixture Id.
      parameters:
      - name: onlyOwned
        in: query
        description: Indicates whether proposals from other sources should be included.
        required: false
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: A list of fixture Ids
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfproposalFixture'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionFixturesSearchById
      x-operation-id-source: derived
  /ingestion/fixtures/searchBySourceEntityId:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion fixtures search by source entity id
      x-summary-source: derived
      operationId: optionsIngestionFixturesSearchBySourceEntityId
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Search for ingestion proposals by source entity Id
      description: Search for ingestion proposals by source entity Id.
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: sourceEntityIds
        in: query
        description: A list of source entity Ids
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: source
        in: query
        description: The source that ingested the proposals.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfproposalFixture'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionFixturesSearchBySourceEntityId
      x-operation-id-source: derived
  /ingestion/fixtures/{trackingRequestId}/status:
    options:
      parameters:
      - name: trackingRequestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion fixtures by tracking request id status
      x-summary-source: derived
      operationId: optionsIngestionFixturesByTrackingRequestIdStatus
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Tracking the progress of the asynchronous execution
      description: Returns the current state of the ingestion request
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: trackingRequestId
        in: path
        description: GUID returned from an ingestion request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fixtureTrackingStatusResponse'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionFixturesByTrackingRequestIdStatus
      x-operation-id-source: derived
  /ingestion/squads/searchById:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion squads search by id
      x-summary-source: derived
      operationId: optionsIngestionSquadsSearchById
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Search for ingestion proposals by squad Id
      description: Search for ingestion proposals by squad Id.
      parameters:
      - name: onlyOwned
        in: query
        description: Indicates whether proposals from other sources should be included.
        required: false
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: ids
        in: query
        description: A list of squad Ids
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfproposalSquad'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionSquadsSearchById
      x-operation-id-source: derived
  /ingestion/squads/searchBySourceEntityId:
    options:
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion squads search by source entity id
      x-summary-source: derived
      operationId: optionsIngestionSquadsSearchBySourceEntityId
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Search for ingestion proposals by source entity Id
      description: Search for ingestion proposals by source entity Id.
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: sourceEntityIds
        in: query
        description: A list of source entity Ids
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: source
        in: query
        description: The source that ingested the proposals.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayOfproposalSquad'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionSquadsSearchBySourceEntityId
      x-operation-id-source: derived
  /ingestion/squads/{trackingRequestId}/status:
    options:
      parameters:
      - name: trackingRequestId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Headers:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      tags:
      - Ingestion
      summary: Describe ingestion squads by tracking request id status
      x-summary-source: derived
      operationId: optionsIngestionSquadsByTrackingRequestIdStatus
      x-operation-id-source: derived
    get:
      tags:
      - Ingestion
      summary: Tracking the progress of the asynchronous execution
      description: Returns the current state of the ingestion request
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: trackingRequestId
        in: path
        description: GUID returned from an ingestion request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/squadTrackingStatusResponse'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '301':
          description: redirect operation
          headers:
            Location:
              schema:
                type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getIngestionSquadsByTrackingRequestIdStatus
      x-operation-id-source: derived
  /ingestion/competitions:
    post:
      tags:
      - Ingestion
      summary: Ingest competition data for update or create
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/competitionIngestion'
        required: true
      operationId: postIngestionCompetitions
      x-operation-id-source: derived
  /ingestion/fixtures:
    post:
      tags:
      - Ingestion
      summary: Ingest fixture data for update or create
      description: 'Ingesting competitors requires indicating the competitor type. There are 3 options: Specify competitionType on competition level. Specify competitorType on competitor level. Include one of the teamPropertiesModel/playerPropertiesModel/doublesPropertiesModel fields on a competitor level.'
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixtureIngestion'
        required: true
      operationId: postIngestionFixtures
      x-operation-id-source: derived
    patch:
      tags:
      - Ingestion
      summary: Patch existing fixture request.
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fixtureIngestionPatch'
        required: true
      operationId: patchIngestionFixtures
      x-operation-id-source: derived
  /ingestion/squads:
    post:
      tags:
      - Ingestion
      summary: Ingest team squad players data for update or create
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      responses:
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/squadIngestion'
        required: true
      operationId: postIngestionSquads
      x-operation-id-source: derived
components:
  schemas:
    Empty:
      type: object
    proposalDataBase:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        sourceEntityId:
          type: string
        sourceMetadata:
          type: object
          description: Source metadata
          title: An additional collection of metadata supplied by the source.
          additionalProperties:
            type: string
    locality:
      type: string
      title: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG, ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR, CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA, DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA, GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR, KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL, MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER, PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB, SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU, USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
      description: If sent а FUZZY match is made on the value and the similarity score is contributing to the end match score.
    fixtureReadonlyResponseModel:
      allOf:
      - $ref: '#/components/schemas/baseResponseMatchModel'
      - properties:
          matchNumber:
            type: string
          atNeutralVenue:
            type: boolean
          sportSpecificRules:
            $ref: '#/components/schemas/sportSpecificRules'
    proposalOrganizationData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          code:
            type: string
    proposalSportData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
    competitionType:
      type: string
      title: 'One of: TeamsCompetition, PlayersCompetition, DoublePartnershipsCompetition'
      description: Defines the type of the competition to increase chances of correct matching
    coverage:
      type: array
      items:
        $ref: '#/components/schemas/coverageData'
    SimplifiedTrackingStatus:
      type: integer
      format: int32
      description: 'Status of the proposal request: Accepted = 0, AwaitingMatching = 1, MatchedAndProposed = 3, ProposedAndApproved = 5, InvalidProposal = 7, Matched = 8, FailedToProcess = 9, ProposedAndWaitingCuration = 10, EnrichingProposal = 12, Suspended = 14, Ignored = 15, Inconsistent = 16'
      enum:
      - '0'
      - '1'
      - '3'
      - '5'
      - '7'
      - '8'
      - '9'
      - '10'
      - '12'
      - '14'
      - '15'
      - '16'
    proposalLineupData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          players:
            type: array
            items:
              $ref: '#/components/schemas/proposalDataBase'
    lineup:
      properties:
        formation:
          type: string
          description: The formation code of the team for the given lineup. E.g. 442
        players:
          type: array
          description: List of players in the lineup.
          items:
            $ref: '#/components/schemas/lineupPlayer'
    sportSpecificRule:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    playerPropertiesModel:
      allOf:
      - $ref: '#/components/schemas/basePlayerPropertiesModel'
      - properties:
          sourceEntityId:
            type: string
            description: Source entity unique Id
            title: The external id from Genius Sports perspective and the internal for the source. By sending this param the backtracking capabilities improved, via push & pull.
          id:
            type: string
            description: Genius Sport Id
            title: If client has the Genius Sport Id it can be sent to improve overall matching capabilities and certainty or the results.
    organizationReadonlyResponseModel:
      allOf:
      - $ref: '#/components/schemas/baseResponseMatchModel'
      - properties:
          code:
            type: string
    competitionMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          gender:
            $ref: '#/components/schemas/gender'
          ageCategory:
            $ref: '#/components/schemas/ageCategory'
          startDate:
            type: string
            format: date-time
            description: The date on which the competition starts in format - full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
            title: Start Date
          endDate:
            type: string
            format: date-time
            description: The date on which the competition ends in format - full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
            title: End Date
          sponsorName:
            type: string
            description: The name of the competition sponsor
            title: Sponsor Name
          longName:
            type: string
            description: The long name of the competition
            title: Long Name
          shortName:
            type: string
            description: The short name of the competition
            title: Short Name
          locality:
            $ref: '#/components/schemas/locality'
          competitionType:
            $ref: '#/components/schemas/competitionType'
          sportSpecificRules:
            $ref: '#/components/schemas/sportSpecificRules'
    proposalCompetitionData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          gender:
            type: string
          competitionType:
            type: string
          startDate:
            type: string
          endDate:
            type: string
          locality:
            $ref: '#/components/schemas/proposalLocalityData'
    proposalFixture:
      type: object
      properties:
        id:
          type: string
        sourceEntityId:
          type: string
        sourceName:
          type: string
        status:
          type: string
        data:
          $ref: '#/components/schemas/proposalFixtureIngestionData'
    ErrorModel:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
    proposalCompetitorData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          gender:
            type: string
          locality:
            $ref: '#/components/schemas/proposalLocalityData'
          competitorType:
            type: string
          isHome:
            type: boolean
          competitorTypeSpecificData:
            type: object
            properties: {}
          lineup:
            $ref: '#/components/schemas/proposalLineupData'
    proposalVenueData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          locality:
            type: string
          city:
            type: string
    officialsReadonlyResponseModel:
      type: array
      items:
        $ref: '#/components/schemas/officialReadonlyResponseModel'
    ArrayOfproposalFixture:
      type: array
      items:
        $ref: '#/components/schemas/proposalFixture'
    squadTrackingStatusResponse:
      type: object
      properties:
        requestCuratedValue:
          $ref: '#/components/schemas/squadResponseMatchModel'
        status:
          $ref: '#/components/schemas/SimplifiedTrackingStatus'
        trackingRequestId:
          type: string
          description: Tracking Id of the progress of the asynchronous execution.
          title: GUID value
    competitionTrackingStatusResponse:
      type: object
      properties:
        requestCuratedValue:
          $ref: '#/components/schemas/competitionResponseMatchModel'
        status:
          $ref: '#/components/schemas/SimplifiedTrackingStatus'
        trackingRequestId:
          type: string
          description: Tracking Id of the progress of the asynchronous execution.
          title: GUID value
    proposalSquadPlayerData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          gender:
            type: string
          person:
            $ref: '#/components/schemas/proposalPersonData'
          locality:
            $ref: '#/components/schemas/proposalLocalityData'
          contractStartDate:
            type: string
            format: date-time
          contractEndDate:
            type: string
            format: date-time
          birthDate:
            type: string
            format: date-time
          position:
            type: string
          shirtNumber:
            type: string
          isPartOfTeam:
            type: boolean
    proposalFixtureIngestionData:
      type: object
      properties:
        sport:
          $ref: '#/components/schemas/proposalSportData'
        venue:
          $ref: '#/components/schemas/proposalVenueData'
        organization:
          $ref: '#/components/schemas/proposalOrganizationData'
        season:
          $ref: '#/components/schemas/proposalSeasonData'
        fixture:
          $ref: '#/components/schemas/proposalFixtureData'
        competition:
          $ref: '#/components/schemas/proposalCompetitionData'
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/proposalCompetitorData'
        competitionPhase:
          $ref: '#/components/schemas/proposalCompetitionPhaseData'
        officials:
          type: array
          items:
            $ref: '#/components/schemas/proposalOfficialData'
        sourceCoverage:
          $ref: '#/components/schemas/sourceCoverage'
        coverage:
          type: array
          items:
            $ref: '#/components/schemas/coverageData'
    proposalFixtureData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          startDate:
            type: string
          locality:
            $ref: '#/components/schemas/proposalLocalityData'
          eventStatus:
            type: string
            description: Notstarted, Inprogress, Finished, Cancelled, Postponed.
          matchNumber:
            type: string
          atNeutralVenue:
            type: boolean
    competitionReadonlyResponseModel:
      allOf:
      - $ref: '#/components/schemas/baseResponseMatchModel'
      - properties:
          sportSpecificRules:
            $ref: '#/components/schemas/sportSpecificRules'
    proposalCompetitionIngestionData:
      type: object
      properties:
        sport:
          $ref: '#/components/schemas/proposalSportData'
        organization:
          $ref: '#/components/schemas/proposalOrganizationData'
        season:
          $ref: '#/components/schemas/proposalSeasonData'
        competition:
          $ref: '#/components/schemas/proposalCompetitionData'
        competitionPhases:
          type: array
          items:
            $ref: '#/components/schemas/proposalCompetitionPhaseData'
    proposalSeasonData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          startDate:
            type: string
            format: date-time
          endDate:
            type: string
            format: date-time
    officialReadonlyResponseModel:
      allOf:
      - $ref: '#/components/schemas/baseResponseMatchModel'
      - properties:
          firstName:
            type: string
          lastName:
            type: string
          Role:
            type: string
          person:
            $ref: '#/components/schemas/baseResponseMatchModel'
    proposalLocalityData:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    competitorType:
      type: string
      title: 'One of: Team, Player, DoublePartnership'
      description: Defines the type of the competitor to increase chances of correct matching
    squadResponseMatchModel:
      type: object
      required:
      - players
      - sport
      - team
      properties:
        team:
          $ref: '#/components/schemas/baseResponseMatchModel'
        sport:
          $ref: '#/components/schemas/baseResponseMatchModel'
        organization:
          $ref: '#/components/schemas/organizationReadonlyResponseModel'
        players:
          type: array
          description: The result of the squad ingestion.
          items:
            $ref: '#/components/schemas/baseResponseMatchModel'
        officials:
          $ref: '#/components/schemas/officialsReadonlyResponseModel'
    proposalPersonData:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Error:
      type: object
      required:
      - domain
      - message
      - reason
      properties:
        reason:
          type: string
        domain:
          type: string
        locationType:
          type: string
        location:
          type: string
        message:
          type: string
    fixtureResponseMatchModel:
      type: object
      required:
      - competition
      - fixture
      - sport
      properties:
        sport:
          $ref: '#/components/schemas/baseResponseMatchModel'
        organization:
          $ref: '#/components/schemas/organizationReadonlyResponseModel'
        competition:
          $ref: '#/components/schemas/competitionReadonlyResponseModel'
        season:
          $ref: '#/components/schemas/baseResponseMatchModel'
        competitionPhase:
          $ref: '#/components/schemas/competitionPhaseReadonlyResponseModel'
        fixture:
          $ref: '#/components/schemas/fixtureReadonlyResponseModel'
        competitors:
          type: array
          description: Client might send competitors separately to try to improve matching capabilities.
          items:
            $ref: '#/components/schemas/competitorReadonlyResponseModel'
        officials:
          $ref: '#/components/schemas/officialsReadonlyResponseModel'
        sourceCoverage:
          $ref: '#/components/schemas/sourceCoverage'
        coverage:
          $ref: '#/components/schemas/coverage'
    basePlayerPropertiesModel:
      allOf:
      - $ref: '#/components/schemas/firstLastNameModel'
      - properties:
          birthDate:
            type: string
            format: date-time
            description: Player birthdate in format - full-date notation, for example, 2017-07-21
            title: Birth Date
    sourceCoverage:
      type: object
      properties:
        liveData:
          type: boolean
          description: Whether the entity has live data coverage.
        liveVideo:
          type: boolean
          description: Whether the entity has live video coverage.
    fixtureIngestionPatch:
      type: object
      required:
      - competitors
      - fixture
      properties:
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/fixtureCompetitorMatchModel'
        fixture:
          type: object
          properties:
            sourceEntityId:
              type: string
              description: Source entity unique Id
              title: The external id from Genius Sports perspective and the internal for the source. By sending this param the backtracking capabilities improved, via push & pull.
          required:
          - sourceEntityId
    sportSpecificRules:
      type: array
      items:
        $ref: '#/components/schemas/sportSpecificRule'
    trackingRequestModel:
      type: object
      required:
      - trackingRequestId
      properties:
        trackingRequestId:
          type: string
          description: Tracking Id of the progress of the asynchronous execution.
          title: GUID value
      title: GUID value
      description: Tracking Id of the progress of the asynchronous execution.
    organizationMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          code:
            type: string
            description: The code of the organization
    proposalCompetitionPhaseData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          startDate:
            type: string
            format: date-time
          endDate:
            type: string
            format: date-time
    proposalCompetition:
      type: object
      properties:
        id:
          type: string
        sourceEntityId:
          type: string
        sourceName:
          type: string
        status:
          type: string
        data:
          $ref: '#/components/schemas/proposalCompetitionIngestionData'
    lineupReadonlyResponseModel:
      type: object
      required:
      - status
      properties:
        id:
          type: string
          description: Genius Sport Id
          title: If client has the Genius Sport Id it can be sent to improve overall matching capabilities and certainty or the results.
        status:
          $ref: '#/components/schemas/SimplifiedTrackingStatus'
        message:
          type: string
          description: Addional message regarding the status of the proposal
          title: Meaningful message for potential problems with the request.
        matchingId:
          type: string
          description: Tracking Id of the matching request that was made for the entity
          title: Tracking Id of the matching request.
        sourceEntityId:
          type: string
          description: Source entity unique Id
          title: The external id from Genius Sports perspective and the internal for the source. By sending this param the backtracking capabilities improved, via push & pull.
        sourceMetadata:
          type: object
          description: Source metadata
          title: An additional collection of metadata supplied by the source.
          additionalProperties:
            type: string
        players:
          type: array
          description: List of players in the lineup.
          items:
            $ref: '#/components/schemas/baseResponseMatchModel'
    teamPropertiesModel:
      type: object
      properties:
        isNationalTeam:
          type: boolean
          description: Is it a national team
        isYouth:
          type: boolean
          description: Is it a youth team
        abbreviation:
          type: string
          description: An abbreviation of the team name
        shortName:
          type: string
          description: Short name of the team
    fixtureCompetitorMatchModel:
      allOf:
      - $ref: '#/components/schemas/competitorMatchModel'
      - properties:
          lineup:
            $ref: '#/components/schemas/lineup'
          preserveLineup:
            type: boolean
            description: Default value false, if set to true, it prevent accidental clearing of previously ingested lineups when subsequent proposals deliberately or incidentally omit the lineups field.
            title: Preserve Lineup
    proposalSquadIngestionData:
      type: object
      properties:
        sport:
          $ref: '#/components/schemas/proposalSportData'
        organization:
          $ref: '#/components/schemas/proposalOrganizationData'
        team:
          $ref: '#/components/schemas/proposalSquadTeamData'
        players:
          type: array
          items:
            $ref: '#/components/schemas/proposalSquadPlayerData'
        officials:
          type: array
          items:
            $ref: '#/components/schemas/proposalOfficialData'
    coverageData:
      type: object
      properties:
        type:
          type: string
          description: The coverage source.
        liveData:
          type: boolean
          description: Whether the entity has live data coverage.
        liveVideo:
          type: boolean
          description: Whether the entity has live video coverage.
    playerMatchModel:
      type: object
      properties:
        birthDate:
          type: string
          format: date-time
          description: Player birthdate in format - full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
          title: Birth Date
        sourceEntityId:
          type: string
          description: Source entity unique Id
          title: The external id from Genius Sports perspective and the internal for the source. By sending this param the backtracking capabilities improved, via push & pull.
        position:
          type: string
          description: The playing position, depending on the sport.
        shirtNumber:
          type: number
          description: The number of the Shirt for the player
        locality:
          $ref: '#/components/schemas/locality'
        playerPropertiesModel:
          $ref: '#/components/schemas/firstLastNameModel'
        gender:
          $ref: '#/components/schemas/gender'
        name:
          type: string
          description: The full name of the player
        sourceMetadata:
          type: object
          description: Source metadata
          title: An additional collection of metadata supplied by the source.
          additionalProperties:
            type: string
        id:
          type: string
          description: Genius Sport Id
          title: If client has the Genius Sport Id it can be sent to improve overall matching capabilities and certainty or the results.
    baseResponseMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          status:
            $ref: '#/components/schemas/SimplifiedTrackingStatus'
          message:
            type: string
            description: Addional message regarding the status of the proposal
            title: Meaningful message for potential problems with the request.
          matchingId:
            type: string
            description: Tracking Id of the matching request that was made for the entity
            title: Tracking Id of the matching request.
    teamMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          gender:
            $ref: '#/components/schemas/gender'
          ageCategory:
            $ref: '#/components/schemas/ageCategory'
          locality:
            $ref: '#/components/schemas/locality'
          teamPropertiesModel:
            $ref: '#/components/schemas/teamPropertiesModel'
    fixtureTrackingStatusResponse:
      type: object
      properties:
        requestCuratedValue:
          $ref: '#/components/schemas/fixtureResponseMatchModel'
        status:
          $ref: '#/components/schemas/SimplifiedTrackingStatus'
        trackingRequestId:
          type: string
          description: Tracking Id of the progress of the asynchronous execution.
          title: GUID value
    officials:
      type: array
      items:
        $ref: '#/components/schemas/official'
    ageCategory:
      type: string
      title: Age Category
      description: 'Default is Senior.  One of: U5, U6, U7, U8, U9, U10, U11, U12, U13, U14, U15, U16, U17, U18, U19, U20, U21, U22, U23, Senior'
    gender:
      type: string
      title: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
      description: If sent an EXACT match is made on the enum, excluding all non-matching entities.
    firstLastNameModel:
      type: object
      properties:
        firstName:
          type: string
          description: The first name of the competitor
        lastName:
          type: string
          description: The last name of the competitor
    BadRequestModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    competitorReadonlyResponseModel:
      allOf:
      - $ref: '#/components/schemas/baseResponseMatchModel'
      - properties:
          lineup:
            $ref: '#/components/schemas/lineupReadonlyResponseModel'
    competitionPhaseMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          startDate:
            type: string
            format: date-time
            description: The start date of the competition phase in UTC ISO-8601 format. (yyyy-MM-ddTHH:mmZ)
            title: Start Date
          endDate:
            type: string
            format: date-time
            description: The end date of the competition phase in UTC ISO-8601 format. (yyyy-MM-ddTHH:mmZ)
            title: End Date
    doublesPropertiesModel:
      type: object
      properties:
        firstCompetitor:
          $ref: '#/components/schemas/playerPropertiesModel'
        secondCompetitor:
          $ref: '#/components/schemas/playerPropertiesModel'
    competitionPhaseReadonlyResponseModel:
      allOf:
      - $ref: '#/components/schemas/baseResponseMatchModel'
      - properties:
          startDate:
            type: string
            format: date-time
          endDate:
            type: string
            format: date-time
    baseDbModel:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official Genius Sports name. If this does not return result exact match is attempted on the aliases.
        id:
          type: string
          description: Genius Sport Id
          title: If client has the Genius Sport Id it can be sent to improve overall matching capabilities and certainty or the results.
    ArrayOfproposalCompetition:
      type: array
      items:
        $ref: '#/components/schemas/proposalCompetition'
    competitionResponseMatchModel:
      type: object
      required:
      - competition
      - sport
      properties:
        sport:
          $ref: '#/components/schemas/baseResponseMatchModel'
        organization:
          $ref: '#/components/schemas/organizationReadonlyResponseModel'
        competition:
          $ref: '#/components/schemas/competitionReadonlyResponseModel'
        season:
          $ref: '#/components/schemas/baseResponseMatchModel'
        competitionPhases:
          type: array
          items:
            $ref: '#/components/schemas/competitionPhaseReadonlyResponseModel'
    venueMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          locality:
            $ref: '#/components/schemas/locality'
          city:
            type: string
            description: The city of the venue
          parentVenue:
            $ref: '#/components/schemas/baseMatchModel'
    baseMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseDbModel'
      - properties:
          sourceEntityId:
            type: string
            description: Source entity unique Id
            title: The external id from Genius Sports perspective and the internal for the source. By sending this param the backtracking capabilities improved, via push & pull.
          sourceMetadata:
            type: object
            description: Source metadata
            title: An additional collection of metadata supplied by the source.
            additionalProperties:
              type: string
    lineupPlayer:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          gender:
            $ref: '#/components/schemas/gender'
          locality:
            $ref: '#/components/schemas/locality'
          playerPropertiesModel:
            $ref: '#/components/schemas/basePlayerPropertiesModel'
          isStarter:
            type: boolean
            description: Indicates if the player is a starter in the lineup.
          order:
            type: integer
            description: The order of the player in the lineup, starting from 0.
          position:
            type: string
            description: The position of the player in the lineup, e.g., 'Forward', 'Keeper'.
          shirtNumber:
            type: string
            description: The shirt number of the player in the lineup.
    ArrayOfproposalSquad:
      type: array
      items:
        $ref: '#/components/schemas/proposalSquad'
    proposalOfficialData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          firstName:
            type: string
          lastName:
            type: string
          role:
            type: string
    proposalSquad:
      type: object
      properties:
        id:
          type: string
        sourceEntityId:
          type: string
        sourceName:
          type: string
        status:
          type: string
        data:
          $ref: '#/components/schemas/proposalSquadIngestionData'
    fixtureIngestion:
      type: object
      required:
      - competition
      - competitors
      - fixture
      - sport
      properties:
        organization:
          $ref: '#/components/schemas/organizationMatchModel'
        competition:
          $ref: '#/components/schemas/competitionMatchModel'
        sport:
          $ref: '#/components/schemas/baseMatchModel'
        fixture:
          $ref: '#/components/schemas/fixtureMatchModel'
        venue:
          $ref: '#/components/schemas/venueMatchModel'
        competitors:
          type: array
          items:
            $ref: '#/components/schemas/fixtureCompetitorMatchModel'
        competitionPhase:
          $ref: '#/components/schemas/competitionPhaseMatchModel'
        officials:
          $ref: '#/components/schemas/officials'
        sourceCoverage:
          $ref: '#/components/schemas/sourceCoverage'
        coverage:
          $ref: '#/components/schemas/coverage'
    proposalSquadTeamData:
      allOf:
      - $ref: '#/components/schemas/proposalDataBase'
      - type: object
        properties:
          gender:
            type: string
          abbreviation:
            type: string
          isNationalTeam:
            type: boolean
          isYouth:
            type: boolean
          locality:
            $ref: '#/components/schemas/proposalLocalityData'
    official:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          gender:
            $ref: '#/components/schemas/gender'
          firstName:
            type: string
          lastName:
            type: string
          role:
            type: string
            description: The role of the official
          birthDate:
            type: string
            format: date-time
            description: Official birthdate in format - full-date notation, for example, 2017-07-21
            title: Birth Date
          locality:
            $ref: '#/components/schemas/locality'
    squadIngestion:
      type: object
      required:
      - players
      - sport
      - team
      properties:
        organization:
          $ref: '#/components/schemas/organizationMatchModel'
        team:
          $ref: '#/components/schemas/teamMatchModel'
        sport:
          $ref: '#/components/schemas/baseMatchModel'
        players:
          type: array
          description: Client might send competitors separately to try to improve matching capabilities.
          items:
            $ref: '#/components/schemas/playerMatchModel'
        officials:
          $ref: '#/components/schemas/officials'
        skipContractDeactivation:
          type: boolean
          description: This flag indicates whether to skip deactivation of player contracts that are not present in the current squad ingestion. If set to true, existing contracts will remain active even if the players are not included in the current ingestion.
    competitionIngestion:
      type: object
      required:
      - competition
      - sport
      properties:
        organization:
          $ref: '#/components/schemas/organizationMatchModel'
        competition:
          $ref: '#/components/schemas/competitionMatchModel'
        sport:
          $ref: '#/components/schemas/baseMatchModel'
        competitionPhases:
          type: array
          items:
            $ref: '#/components/schemas/competitionPhaseMatchModel'
    competitorMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          competitorType:
            $ref: '#/components/schemas/competitorType'
          locality:
            $ref: '#/components/schemas/locality'
          playerPropertiesModel:
            $ref: '#/components/schemas/playerPropertiesModel'
          doublesPropertiesModel:
            $ref: '#/components/schemas/doublesPropertiesModel'
          teamPropertiesModel:
            $ref: '#/components/schemas/teamPropertiesModel'
          gender:
            $ref: '#/components/schemas/gender'
          isHome:
            type: boolean
            description: Is this competitor the home competitor for the fixture
    fixtureMatchModel:
      allOf:
      - $ref: '#/components/schemas/baseMatchModel'
      - properties:
          startDate:
            type: string
            format: date-time
            description: The start date of the fixture in UTC ISO-8601 format. (yyyy-MM-ddTHH:mmZ)
            title: Start Date
          startDateUnreliable:
            type: boolean
            description: Whether the start date is unreliable or not. If true, the start date is not reliable and it will be ignored for updates.
            title: Start Date Unreliable
          locality:
            $ref: '#/components/schemas/locality'
          eventStatus:
            type: string
            description: Notstarted, Inprogress, Finished, Cancelled, Postponed.
          sportSpecificRules:
            $ref: '#/components/schemas/sportSpecificRules'
          matchNumber:
            type: string
          atNeutralVenue:
            type: boolean
  securitySchemes:
    Auth0:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: oauth2
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-amazon-apigateway-security-policy: TLS_1_0
