openapi: 3.2.0
info:
  title: Genius Sports Data Warehouse REST Standings API
  description: 'Genius Sports REST API for querying past and future information regarding

    matches, players, statistics, venues, and organizations across basketball,

    3x3, football (soccer), volleyball, American football, and ice hockey.

    Authenticated with an x-api-key header issued to partners.

    '
  version: 1.0.0
  contact:
    name: Genius Sports Developer Centre
    url: https://developer.geniussports.com/
servers:
- url: https://api.wh.geniussports.com
  description: Data Warehouse
security:
- apiKey: []
tags:
- name: Standings
  description: Competition standings
paths:
  /v1/standings:
    get:
      tags:
      - Standings
      summary: List standings
      operationId: listStandings
      parameters:
      - name: competitionId
        in: query
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Standings envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelope'
components:
  schemas:
    ResponseEnvelope:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          oneOf:
          - type: object
          - type: array
            items:
              type: object
    ResponseMeta:
      type: object
      properties:
        version:
          type: string
        code:
          type: integer
        status:
          type: string
          enum:
          - success
          - failure
        request:
          type: string
        time:
          type: integer
        count:
          type: integer
        limit:
          type: integer
  parameters:
    Fields:
      name: fields
      in: query
      description: Comma-separated list of fields to return
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key identifying the caller (deprecated ak query parameter also supported)
