openapi: 3.2.0
info:
  description: 'Motivation


    The purpose of this API is to request matching betweenexternal sources data and the best genius sports representation.'
  version: 2.0.106
  title: fixtures-matching-v2 Pending requests API
servers:
- url: https://matching.api.geniussports.com/v2
tags:
- name: Pending requests
paths:
  /matchrequests/status/{id}:
    get:
      tags:
      - Pending requests
      summary: Retrieve match requests by the provided parameters
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        schema:
          type: string
      - name: id
        in: path
        description: Contains the id of the pending match request that want to be retrieved. GUID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pendingMatchRequestStatusResponseModel'
        '520':
          description: Unknown error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit Exceeded that does not help you
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
      operationId: getMatchrequestsStatusById
      x-operation-id-source: derived
components:
  schemas:
    pendingMatchRequestStatusResponseModel:
      type: object
      properties:
        createdOn:
          type: string
          format: date-time
        matchUntilUtc:
          type: string
          format: date-time
          description: Shows the time until when the request should be curated.
        matchRequestId:
          type: string
          description: The id of the request
        entityType:
          type: string
          description: The type of the requested entity.
        status:
          type: string
          description: Shows the status of the pending request.
        id:
          type: string
          description: The Id of the entity on Genius sports side
        sourceToNotify:
          $ref: '#/components/schemas/sourceHALEmbededResponse'
        reason:
          type: string
          description: The reason for NotMatched status. Free text. Should not be used to build logical flows on top of it! Only available when status is NotMatched!
    ErrorModel:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
    BadRequestModel:
      type: object
      properties:
        messages:
          type: array
          items:
            type: string
    sourceHALEmbededResponse:
      type: object
      properties:
        name:
          type: string
        id:
          type: integer
          format: int64
    Error:
      type: object
      required:
      - domain
      - message
      - reason
      properties:
        reason:
          type: string
        domain:
          type: string
        location:
          type: string
        message:
          type: string
  securitySchemes:
    Auth0:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: oauth2
    api_key:
      type: apiKey
      name: x-api-key
      in: header
