openapi: 3.2.0
info:
  title: Genius Sports Data Warehouse REST Statistics API
  description: 'Genius Sports REST API for querying past and future information regarding

    matches, players, statistics, venues, and organizations across basketball,

    3x3, football (soccer), volleyball, American football, and ice hockey.

    Authenticated with an x-api-key header issued to partners.

    '
  version: 1.0.0
  contact:
    name: Genius Sports Developer Centre
    url: https://developer.geniussports.com/
servers:
- url: https://api.wh.geniussports.com
  description: Data Warehouse
security:
- apiKey: []
tags:
- name: Statistics
  description: Team and player statistics
paths:
  /v1/matches/{matchId}/statistics:
    parameters:
    - name: matchId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Statistics
      summary: Get match statistics
      operationId: getMatchStatistics
      responses:
        '200':
          description: Statistics envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelope'
components:
  schemas:
    ResponseEnvelope:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          oneOf:
          - type: object
          - type: array
            items:
              type: object
    ResponseMeta:
      type: object
      properties:
        version:
          type: string
        code:
          type: integer
        status:
          type: string
          enum:
          - success
          - failure
        request:
          type: string
        time:
          type: integer
        count:
          type: integer
        limit:
          type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key identifying the caller (deprecated ak query parameter also supported)
