swagger: '2.0'
info:
  description: '<br><p><h3>Motivation</h3><br> The purpose of this API is to request matching betweenexternal sources data
    and the best genius sports representation. <br>Using the POST client can cache the matchingresult for specific time range,
    by making a mapping from client entity id togenius sports Id.<br></p><h3>Glossary</h3><br><p><b>Match</b>- the probabilistic
    result of the comparison of the clients input    to Genius Sports data</p><p><b>Map</b>- the link between an already matched
    result represented by the    clients entity Id and the Genius Sports Id, in the context of a specific    data provider.
    e.g for data Provider ''NFL'' we the client Id XYZ mapped to    123 </p><p><b>Competitor</b> - a team, player, double
    partnership or any other entity    that can participate in a fixture as top level competitore e.g Barcelena -    RealMadrid,
    Nadal - Federer etc. What is not a competitor is for example:    Leo Messi - he cannot participate in a fixture as a top
    level competitor,    but only as a part of a team.</p><h3>How does the security work?</h3><p>To access the API each request
    must provide two headers:</p><ul>    <li><code>Authorization</code> header with an OAuth2<br> JSON web token        (Bearer)
    issued by Auth0.</li>    <li> <code>x-api-key</code><br> with an API key secret of a key, registered        with the API
    gateway in AWS. <br> </li></ul><h3>How do I get a valid JW token for the <code>Authorization</code> header?</h3><p> As
    an API client, I must be provided with Auth0 Client credentials    (<code>client_ID</code> and <code>Client_secret</code>)
    by Genius    Sports (FA team) and obtain a valid token from the Auth0 token<br> endpoint    using the Machine-to-Machine
    (client credentials) flow. I must obtain a    new token whenever needed (based on the token expiration).</p><p> <br> Make
    a <code>POST</code> request to the token endpoint: <span        https://{env or nothing for prod}.auth.geniussports.com/oauth/token        </span>
    with the following        payload:</p><br><pre><br>    {<br>    <span>''client_id'': ''<code>YOUR_AUTH0_CLIENT_ID</code>''</span>,  <br>    <span>''client_secret'':
    ''<code>YOUR_AUTH0_CLIENT_SECRET</code>''</span>,     <br>    <span>''audience'': ''https://api.geniussports.com''</span>,        <br>    <span>''grant_type''
    : ''client_credentials''</span>    <br>    }<br></pre><br><p>You will receive a new token in the response <code> access_token
    </code>    field.</p><br><p>Curl example:</p><br><code> curl -X ''POST'' https://{env or nothing for prod}.auth.geniussports.com/oauth/token
    <br>-H ''Content-Type: application / json''<br>-d ''{''client_id'':''YOUR_AUTH0_CLIENT_ID'', ''client_secret'':''YOUR_AUTH0_CLIENT_SECRET'',
    ''audience'':''https://api.geniussports.com'',<br>        ''grant_type'':''client_credentials''}''</code><br>'
  version: 2.0.106
  title: fixtures-matching-v2
host: matching.api.geniussports.com
basePath: /v2
tags:
- name: Probabilistic matching
  description: The results from the this kind of matching are always probabilistic. However we consider matches that have
    above 90% match score as viable results.
schemes:
- https
paths:
  /competition-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve competition matches by the provided parameters
      produces:
      - application/json
      parameters:
      - name: organization
        in: query
        description: The name or Genius Sports Id of a organization.
        required: false
        type: string
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: ageCategory
        in: query
        description: 'One of: Senior, U5, U6, U7, U8, U9, U10, U11, U12, U13, U14, U15, U16, U17, U18, U19, U20, U21, U22,
          U23, U24, U25, U26, U27.'
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: sport
        in: query
        description: Allows either Genius Sports Id or the name of the sport. If the sport is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
          ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR,
          CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA,
          DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA,
          GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR,
          KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL,
          MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER,
          PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB,
          SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU,
          USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/competitionMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve competition matches by the provided parameters, and create a map uppon successful matching.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: competitionMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/competitionMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /competition-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /competitors/doubles-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve double partnerships matches by the provided parameters.
      description: 'Full list of sports using double partnerships for fixture level competitors: Badminton,Beach Volleyball,Bobsleigh,Canoeing/Kayaking,Darts,Diving,Figure
        Skating,Golf,Luge,Olympics,Pickleball,Pickleball,Pool,Rowing,Sailing,Snooker,Squash,Table Tennis,Tennis,Ten Pin Bowling,Winter
        Olympics'
      produces:
      - application/json
      parameters:
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: competition
        in: query
        description: The name or Genius Sports Id of a competition, that this double partnership participated in.
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: organization
        in: query
        description: The name or Genius Sports Id of a organization.
        required: false
        type: string
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: person
        in: query
        description: The name or Genius Sports Id of a person, that participates in this double partnership.
        required: false
        type: string
      - name: sport
        in: query
        description: Allows either Genius Sports Id or the name of the sport. If the sport is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
          ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR,
          CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA,
          DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA,
          GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR,
          KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL,
          MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER,
          PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB,
          SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU,
          USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/doublesMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve fixture level players matches by the provided parameters, and create a map uppon successful matching.
      description: 'Full list of sports using double partnerships for fixture level competitors: Badminton,Beach Volleyball,Bobsleigh,Canoeing/Kayaking,Darts,Diving,Figure
        Skating,Golf,Luge,Olympics,Pickleball,Pickleball,Pool,Rowing,Sailing,Snooker,Squash,Table Tennis,Tennis,Ten Pin Bowling,Winter
        Olympics'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: doublesMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/doublesMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /competitors/doubles-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /competitors/player-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve fixture level player matches by the provided parameters.
      description: 'Full list of sports using players for fixture level competitors: Alpine Skiing,Archery,Athletics,Badminton,Biathlon,Bobsleigh,Bowls,Boxing,Canoeing/Kayaking,Chess,Competitive
        Eating,Cross Country,Cycling,Darts,Diving,Fencing,Figure Skating,Fishing,Freestyle Skiing,Golf,Gymnastics,Judo,Luge,Martial
        Arts/UFC,Modern Pentathlon,Motor Sport,Nordic Combined Skiing,Olympics,Pickleball,Poker,Politics,Pool,Rowing,Sailing,Shooting,Short
        Track Speed Skating,Skeleton,Ski Jumping,Snooker,Snowboarding,Speed Skating,Squash,Surfing,Swimming,Table Tennis,Taekwondo,Ten
        Pin Bowling,Tennis,Triathlon,Virtual Archery,Virtual Badminton,Virtual Basketball,Virtual Chariot Racing,Virtual Cricket,Virtual
        Cycling,Virtual Football,Virtual Golf,Virtual Greyhound Racing,Virtual Horse Racing,Virtual Ice Hockey,Virtual Motor
        Racing,Virtual Speed Skating,Virtual Table Tennis,Virtual Tennis,Weightlifting,Winter Olympics,Winter Sports,Wrestling,Yachting,eSports'
      produces:
      - application/json
      parameters:
      - name: shirtNumber
        in: query
        description: Shirt number of the player if the player is part of a team.
        required: false
        type: string
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: competition
        in: query
        description: The name or Genius Sports Id of a competition, that this player participated in.
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: organization
        in: query
        description: The name or Genius Sports Id of a organization.
        required: false
        type: string
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: team
        in: query
        description: Name of any team the player was part of.
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: position
        in: query
        description: Position of the player if the player is part of a team.
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: birthDate
        in: query
        description: The birth date of the searched player in format - full-date notation as defined by RFC 3339, section
          5.6, for example, 2017-07-21
        required: false
        type: string
      - name: sport
        in: query
        description: Allows either Genius Sports Id or the name of the sport. If the sport is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
          ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR,
          CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA,
          DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA,
          GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR,
          KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL,
          MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER,
          PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB,
          SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU,
          USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/playerMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve fixture level players matches by the provided parameters, and create a map uppon successful matching.
      description: 'Full list of sports using players for fixture level competitors: Alpine Skiing,Archery,Athletics,Badminton,Biathlon,Bobsleigh,Bowls,Boxing,Canoeing/Kayaking,Chess,Competitive
        Eating,Cross Country,Cycling,Darts,Diving,Fencing,Figure Skating,Fishing,Freestyle Skiing,Golf,Gymnastics,Judo,Luge,Martial
        Arts/UFC,Modern Pentathlon,Motor Sport,Nordic Combined Skiing,Olympics,Pickleball,Poker,Politics,Pool,Rowing,Sailing,Shooting,Short
        Track Speed Skating,Skeleton,Ski Jumping,Snooker,Snowboarding,Speed Skating,Squash,Surfing,Swimming,Table Tennis,Taekwondo,Ten
        Pin Bowling,Tennis,Triathlon,Virtual Archery,Virtual Badminton,Virtual Basketball,Virtual Chariot Racing,Virtual Cricket,Virtual
        Cycling,Virtual Football,Virtual Golf,Virtual Greyhound Racing,Virtual Horse Racing,Virtual Ice Hockey,Virtual Motor
        Racing,Virtual Speed Skating,Virtual Table Tennis,Virtual Tennis,Weightlifting,Winter Olympics,Winter Sports,Wrestling,Yachting,eSports'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: playerMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/playerMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /competitors/player-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /competitors/team-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve teams matches by the provided parameters.
      description: 'Full list of sports using teams for fixture level competitors: 3x3 Basketball,American Football,Australian
        Rules,Bandy,Baseball,Basketball,Beach Soccer,Cricket,Curling,Financial,Floorball,Football,Futsal,Gaelic Football,Greyhounds,Handball,Harness
        Racing,Hockey,Horse Racing,Hurling,Ice Hockey,Lacrosse,Multi Sport,Netball,Pesäpallo,Rugby League,Rugby Union,Softball,Specials,Volleyball,Water
        Polo'
      produces:
      - application/json
      parameters:
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: competition
        in: query
        description: The name or Genius Sports Id of a competition, that this team participated in.
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: ageCategory
        in: query
        description: 'One of: Senior, U5, U6, U7, U8, U9, U10, U11, U12, U13, U14, U15, U16, U17, U18, U19, U20, U21, U22,
          U23, U24, U25, U26, U27.'
        required: false
        type: string
      - name: isNationalTeam
        in: query
        description: '''true'' for national teams, ''false'' for club teams'
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: organization
        in: query
        description: The name or Genius Sports Id of a organization.
        required: false
        type: string
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: sport
        in: query
        description: Allows either Genius Sports Id or the name of the sport. If the sport is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
          ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR,
          CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA,
          DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA,
          GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR,
          KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL,
          MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER,
          PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB,
          SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU,
          USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
        required: false
        type: string
      - name: homeVenue
        in: query
        description: If sent а FUZZY match is made on the value and the similarity score is contributing to the end match
          score.
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/teamMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve team matches by the provided parameters, and create a map uppon successful matching.
      description: 'Full list of sports using teams for fixture level competitors: 3x3 Basketball,American Football,Australian
        Rules,Bandy,Baseball,Basketball,Beach Soccer,Cricket,Curling,Financial,Floorball,Football,Futsal,Gaelic Football,Greyhounds,Handball,Harness
        Racing,Hockey,Horse Racing,Hurling,Ice Hockey,Lacrosse,Multi Sport,Netball,Pesäpallo,Rugby League,Rugby Union,Softball,Specials,Volleyball,Water
        Polo'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: teamMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/teamMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /competitors/team-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /fixture-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve a fixture, within a configurable sport or competition day range
      produces:
      - application/json
      parameters:
      - name: season
        in: query
        description: The name or Genius Sports Id of the season, that this fixture is in. e.g 2022/2023 Champions league
        required: false
        type: string
      - name: fixtureCompetitors
        in: query
        description: The names of the fixture competitors separated with ~ . e.g Barcelona~Real Madrid. This can also accept
          the Genius Sport Id of the competitor. e.g. Barcelona~10106
        required: false
        type: string
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: competition
        in: query
        description: The name or Genius Sports Id of the competition, that this fixture is in. e.g Champions League
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: startDate
        in: query
        description: The start date of the fixture in UTC ISO-8601 format. yyyy-MM-ddTHH:mm:ssZ - 2023-10-01T13:30:00Z
        required: true
        type: string
      - name: round
        in: query
        description: The name or Genius Sports Id of the Round, that this fixture is in. e.g Quarter final
        required: false
        type: string
      - name: organization
        in: query
        description: The name or Genius Sports Id of a organization.
        required: false
        type: string
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: venue
        in: query
        description: The name or Genius Sports Id of the Venue, that this fixture is played at. e.g Nou Camp
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
          ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR,
          CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA,
          DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA,
          GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR,
          KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL,
          MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER,
          PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB,
          SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU,
          USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
        required: false
        type: string
      - name: sport
        in: query
        description: The sport that this fixture is part of
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/fixtureMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve a fixture, best matching to your fixture.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: fixtureMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/fixtureMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /fixture-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /locality-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve locality matches by the provided parameters
      produces:
      - application/json
      parameters:
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/localityMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve locality matches by the provided parameters, and create a map uppon successful matching.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: localityMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/localityMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /locality-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /matchrequests/status/{id}:
    get:
      tags:
      - Pending requests
      summary: Retrieve match requests by the provided parameters
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: id
        in: path
        description: Contains the id of the pending match request that want to be retrieved. GUID
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/pendingMatchRequestStatusResponseModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /organization-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve a organization
      produces:
      - application/json
      parameters:
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: code
        in: query
        description: The code of the organization
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/organizationMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve a organization, best matching to your organization.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: organizationMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/organizationMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /organization-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /person-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve a person, that can be used in a team squad, as a refferee, coach, etc. The person itself cannot be
        used in a fixture as a top level competitor. For that use a Player
      produces:
      - application/json
      parameters:
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: team
        in: query
        description: The name or Genius Sports Id of a team, that this person played for.
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: birthDate
        in: query
        description: The birth date of the searched player in format - full-date notation as defined by RFC 3339, section
          5.6, for example, 2017-07-21
        required: false
        type: string
      - name: sport
        in: query
        description: Allows either Genius Sports Id or the name of the sport. If the sport is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
          ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR,
          CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA,
          DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA,
          GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR,
          KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL,
          MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER,
          PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB,
          SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU,
          USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/personMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve a person, that can be used in a team squad, as a refferee, coach, etc., and create a map uppon successful
        matching.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: personMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/personMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /person-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /round-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve round matches by the provided parameters
      produces:
      - application/json
      parameters:
      - name: season
        in: query
        description: Allows either Genius Sports Id or the name of the season. If the season is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: true
        type: string
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: endDate
        in: query
        description: The end date in format - full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: ageCategory
        in: query
        description: 'One of: Senior, U5, U6, U7, U8, U9, U10, U11, U12, U13, U14, U15, U16, U17, U18, U19, U20, U21, U22,
          U23, U24, U25, U26, U27.'
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: startDate
        in: query
        description: The start date in format - full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
        required: false
        type: string
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: sport
        in: query
        description: Allows either Genius Sports Id or the name of the sport. If the sport is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
          ARM, ARU, ASA, AUS, AUT, AZE, BAH, BAN, BAR, BDI, BEL, BEN, BER, BHU, BIH, BIZ, BLR, BOL, BOT, BRA, BRN, BUL, BUR,
          CAF, CAM, CAN, CAY, CGO, CHA, CHI, CHN, CIV, CMR, COD, COK, COL, COM, CPV, CRC, CRO, CUB, CYP, CZE, DEN, DJI, DMA,
          DOM, ECU, EGY, ERI, ESA, ESP, EST, ETH, FIJ, FIN, FRA, FSM, GAB, GAM, GBR, GBS, GEO, GEQ, GER, GHA, GRE, GRN, GUA,
          GUI, GUM, GUY, HAI, HKG, HON, HUN, INA, IND, IRI, IRL, IRQ, ISL, ISR, ITA, IVB, JAM, JOR, JPN, KAZ, KEN, KGZ, KIR,
          KOR, KOS, KSA, KUW, LAO, LAT, LBA, LBN, LBR, LCA, LES, LIE, LTU, LUX, MAD, MAR, MAS, MAW, MDA, MDV, MEX, MGL, MHL,
          MKD, MLI, MLT, MNE, MON, MOZ, MRI, MTN, MYA, NAM, NCA, NED, NEP, NGR, NIG, NOR, NRU, NZL, OMA, PAK, PAN, PAR, PER,
          PHI, PLE, PLW, PNG, POL, POR, PUR, QAT, ROU, RSA, RUS, RWA, SAM, SEN, SEY, SGP, SKN, SLE, SLO, SMR, SOL, SOM, SRB,
          SRI, SSD, STP, SUD, SUI, SUR, SVK, SWE, SYR, TAN, TGA, THA, TJK, TKM, TOG, TTO, TUN, TUR, TUV, UAE, UGA, UKR, URU,
          USA, UZB, VAN, VEN, VIE, VIN, YEM, ZAM, ZIM'
        required: false
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/roundMatchHATEOASResultModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
    post:
      tags:
      - Probabilistic matching
      summary: Retrieve round matches by the provided parameters, and create a map uppon successful matching.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - in: body
        name: roundMatchRequest
        description: Contains all the fields the client can match by, as well as configurations about the match.
        required: true
        schema:
          $ref: '#/definitions/roundMatchRequest'
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/matchResultSubsribableModel'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '202':
          description: 202 response
          schema:
            $ref: '#/definitions/failedMatchResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /round-matches/maps:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve entity maps by source name and source entity id
      produces:
      - application/json
      parameters:
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: source
        in: query
        required: true
        type: string
      - name: sourceEntityId
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 200 response
          schema:
            $ref: '#/definitions/ArrayOfentityMapResponse'
        '520':
          description: Unknown error
          schema:
            $ref: '#/definitions/ErrorModel'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestModel'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorModel'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorModel'
        '413':
          description: Payload Too Large
          schema:
            $ref: '#/definitions/ErrorModel'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorModel'
        '415':
          description: Unsupported Media Type
          schema:
            $ref: '#/definitions/ErrorModel'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorModel'
        '504':
          description: Gateway Timeout
          schema:
            $ref: '#/definitions/ErrorModel'
        '429':
          description: Too Many Requests  OR  Limit Exceeded  - On reason = Too Many requests one should re-try, for Limit
            Exceeded that does not help you
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - Auth0: []
      - api_key: []
  /season-matches:
    get:
      tags:
      - Probabilistic matching
      summary: Retrieve season matches by the provided parameters
      produces:
      - application/json
      parameters:
      - name: name
        in: query
        description: The name of the entity to be matched to Genius Sports name. Fuzzy matching is executed upon the official
          Genius Sports name. If this does not return result exact match is attempted on the aliases.
        required: true
        type: string
      - name: competition
        in: query
        description: Allows either Genius Sports Id or the name of the competition. If the competition is sent as string name
          a FUZZY match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: endDate
        in: query
        description: The end date in format - full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
        required: false
        type: string
      - name: dataSourceEntityId
        in: query
        description: The ID of the team on the data source' side.
        required: false
        type: string
      - name: ageCategory
        in: query
        description: 'One of: Senior, U5, U6, U7, U8, U9, U10, U11, U12, U13, U14, U15, U16, U17, U18, U19, U20, U21, U22,
          U23, U24, U25, U26, U27.'
        required: false
        type: string
      - name: gs-fixtures-api-sub-source
        in: header
        description: Sub Source Name
        required: false
        type: string
      - name: pageNumber
        in: query
        description: The default is the first page. However next pages can be requested if available.
        required: false
        type: string
      - name: startDate
        in: query
        description: The start date in format - full-date notation as defined by RFC 3339, section 5.6, for example, 2017-07-21
        required: false
        type: string
      - name: gender
        in: query
        description: 'One of: Male, Female, Mixed. If the entity is neither Male, nor Female use Mixed.'
        required: false
        type: string
      - name: pageSize
        in: query
        description: Number of items per page
        required: false
        type: string
      - name: x-api-key
        in: header
        required: true
        type: string
      - name: minCertainty
        in: query
        description: The client can set the minimal % of the match certainty. Default is 70%.
        required: false
        type: string
      - name: sport
        in: query
        description: Allows either Genius Sports Id or the name of the sport. If the sport is sent as string name a FUZZY
          match is made on the value and the similarity score is contributing to the end match score.
        required: false
        type: string
      - name: locality
        in: query
        description: 'Accepts either the 3 letter country code (ISO 3166-1 alpha-3 codes), the country name or the name of
          Continets, Administrive region, etc.. If a code is sent an EXACT match is made on the enum, excluding all non-matching
          entities. If the country is sent as string name a FUZZY match is made on the value and the similarity score is contributing
          to the end match score. The name of the country in free text form or one of: AFG, ALB, ALG, AND, ANG, ANT, ARG,
[...]
