openapi: 3.2.0
info:
  title: Genius Sports Data Warehouse REST People API
  description: 'Genius Sports REST API for querying past and future information regarding

    matches, players, statistics, venues, and organizations across basketball,

    3x3, football (soccer), volleyball, American football, and ice hockey.

    Authenticated with an x-api-key header issued to partners.

    '
  version: 1.0.0
  contact:
    name: Genius Sports Developer Centre
    url: https://developer.geniussports.com/
servers:
- url: https://api.wh.geniussports.com
  description: Data Warehouse
security:
- apiKey: []
tags:
- name: People
  description: Players, officials, staff
paths:
  /v1/persons:
    get:
      tags:
      - People
      summary: List persons (players, officials, staff)
      operationId: listPersons
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Persons envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelope'
  /v1/persons/{personId}:
    parameters:
    - name: personId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - People
      summary: Get a person
      operationId: getPerson
      responses:
        '200':
          description: Person envelope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseEnvelope'
components:
  parameters:
    Offset:
      name: offset
      in: query
      description: Skip the first N records
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      description: Record limit (default 10, maximum 500)
      schema:
        type: integer
        default: 10
        maximum: 500
    Fields:
      name: fields
      in: query
      description: Comma-separated list of fields to return
      schema:
        type: string
  schemas:
    ResponseEnvelope:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          oneOf:
          - type: object
          - type: array
            items:
              type: object
    ResponseMeta:
      type: object
      properties:
        version:
          type: string
        code:
          type: integer
        status:
          type: string
          enum:
          - success
          - failure
        request:
          type: string
        time:
          type: integer
        count:
          type: integer
        limit:
          type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key identifying the caller (deprecated ak query parameter also supported)
